
/* Layout */
a { color:#027de5; }
[data-hrefto]{ cursor:pointer; }
body { font-size: 12px; /* Resets 1em to 10px */color: #000; background: #fff url(../../img/bg5.jpg) fixed center center no-repeat; background-size:cover; line-height: 1.4; overflow-y:scroll; overflow-x:hidden; position:relative; }
.body { overflow-x:hidden; display: none; transition: opacity 1s; opacity: 0; }
.body.start { display: block; opacity: 1; }

.logoStart { position:fixed; left:50%; top:50%; margin-top:-45px; margin-left:-100px; width:200px; height:90px; padding:0; z-index:99998; background: url(../../img/logo_black.svg) no-repeat; overflow:hidden; }

.logoStart.opacity0 { animation:fadeOut 1s; opacity: 0; }
.logoStart img{ width:200px; height:90px; }

.picLoading { display:block; position:fixed; overflow:hidden; left:50%; top:50%; width:300px; height:300px; margin:30px 0 0 -150px; z-index:99999; text-align:center; font-size:16px; color:#555; }
.picLoading.opacity0 { animation:fadeOut 1s; opacity: 0; }
.picLoadingList { display:none; }
.picLoadingList2 { display:none; }

@keyframes fadeOut{
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.logoFixed { display: block; position:fixed; left:50%; top:0; margin-left:-450px; width:160px; height:60px; padding:0; background: url(../../img/logo.svg) no-repeat 0 10px; text-indent:-9999px; z-index:999999; overflow:hidden; -webkit-animation:p201407240426 3s; animation:p201407240426 3s; }
@-webkit-keyframes p201407240426{
	0%{ -webkit-transform: translate(-30px, 0); opacity:0; }
	70%{ -webkit-transform: translate(-30px, 0); opacity:0; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201407240426{
	0%{ transform: translate(-30px, 0); opacity:0; }
	70%{ transform: translate(-30px, 0); opacity:0; }
	100%{ transform: translate(0, 0); opacity:1; }
}


.contactFormHover { display:block; position:fixed; right:0; top:0; margin-top:200px; background: rgba(50, 50, 50, 0.9); width:40px; height:150px; color:#FFF; padding: 10px 0 10px 5px; letter-spacing:10px; text-align:center; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border: 1px solid rgba(50, 50, 50, 0.9); border-right:none; cursor:pointer; z-index:9999; -webkit-transition: color 0.8s; transition: color 0.8s; }
.contactFormHover:hover { -webkit-animation: none; animation: none; color: #ff9204; }

.pencil { position:fixed; left:50%; top:50%; margin-left:-60px; margin-top:-60px; width:128px; height:128px; background: url(../../img/pencil.png) no-repeat; text-indent:-9999px; z-index:96; overflow:hidden; display:none; opacity:0; -webkit-transform: translate(-200px,100px); transform: translate(-200px,100px); }

.blue { color:#027de5; }
.orange { color:#ff9204; }
.purple { color:#a63ed6; }
.yellow { color:#ffdd24; }
.red { color:#eb3d82; }
.green { color:#8bb01c; }
.blueBorder { display:block; border-left:10px solid #027de5; line-height:20px; height:20px; padding:0 0 0 10px; }
.orangeBorder { display:block; border-left:10px solid #ff9204; line-height:20px; height:20px; padding:0 0 0 10px; }
.purpleBorder { display:block; border-left:10px solid #a63ed6; line-height:20px; height:20px; padding:0 0 0 10px; }
.yellowBorder { display:block; border-left:10px solid #ffdd24; line-height:20px; height:20px; padding:0 0 0 10px; }
.redBorder { display:block; border-left:10px solid #eb3d82; line-height:20px; height:20px; padding:0 0 0 10px; }
.greenBorder { display:block; border-left:10px solid #8bb01c; line-height:20px; height:20px; padding:0 0 0 10px; }


.contact_content_area{ width:880px;height:770px; position:relative;margin:80px auto 0;}
.contact_content_area h1{font-size:36px;letter-spacing:3px; margin:0px auto; display:block; font-weight:400;text-align:center;color:#444; margin-bottom:20px;}
.contact_content_area .title_box{width:100%;margin-bottom:20px;overflow:hidden; }
.contact_content_area .title_box p{float:left;margin:0px 15px 0px 15px;  font-size: 14px; letter-spacing:3px; line-height:22px; } 
.contact_content_area .title_box .line1{width:140px;height:1px;background:#999;float:left;margin:10px 0px; }
.contact_content_area .title_box .line2{width:140px;height:1px;background:#999;float:left;margin:10px 0px; }
.textContactForm {width:700px;margin:0 auto;margin-top:30px;display:block;padding:15px; line-height:40px;  border-radius:10px;display:block;overflow:hidden;}
.textContactForm .textContactFormContent { width:700px;overflow:hidden;}
.textContactForm .textContactFormContent .rightBox {width:350px;float:right; }
.textContactForm .textContactFormContent .rightBox textarea{ width:310px;height:280px;border-radius:3px;border:1px solid #7C7C7C; background:rgba(255,255,255,0.6);padding:15px;font-size:14px;letter-spacing:2px; }
.textContactForm .textContactFormContent .contactSubmit {background:#FF4F80; color:#FFF; cursor:pointer; border-radius:5px; width:100px; height:40px;border:0px; border-bottom:3px solid #B03B7B;display:block;margin:40px auto;font-size:16px; letter-spacing:3px; clear:both; -webkit-appearance:none; }
.textContactForm .textContactFormContent .contactSubmit:active{background:#ff1858; -webkit-appearance:none;}
.textContactForm .textContactFormContent .leftBox {width:320px; margin-bottom:15px;float:left;  margin-bottom:30px;}
.textContactForm .textContactFormContent .leftBox .area { font-size:14px;width:100%;display:block;overflow:hidden; margin-bottom:8px;}
.textContactForm .textContactFormContent .leftBox .area.phone{display:none;}
.textContactForm .textContactFormContent .leftBox .area select { width:75%;line-height:30px; height:30px; vertical-align:middel;border-radius:3px; float:right;font-size:14px;border:1px solid #7C7C7C;background:rgba(255,255,255,0.6);}
.textContactForm .textContactFormContent .leftBox .area span{}
.textContactForm .textContactFormContent .leftBox .area p{line-height:35px;border-radius:3px; margin-bottom:3px;font-size:14px;letter-spacing:2px;float:left; }
.textContactForm .textContactFormContent .leftBox  input{width:72%; height:30px;float:right;margin-top:2px; border-radius:3px;border:1px solid #7C7C7C;padding-left:5px;background:rgba(255,255,255,0.6);}

.textContactForm .textContactFormContent .price_choose{width:100%;height:100px;clear:both; }
.textContactForm .textContactFormContent .price_choose p{line-height:100px; float:left; margin-right:10px;}
.textContactForm .textContactFormContent .price_choose .choose_area{width:590px;height:100px; margin-top:0px;overflow:hidden;padding-left:30px;float:left;}
.textContactForm .textContactFormContent .price_choose .choose_box{width:30px;float:left; position:relative;} 
.textContactForm .textContactFormContent .price_choose .choose_box .circle{width:14px;height:14px;border:2px solid #000; border-radius:100px; margin:10px auto;margin-top:40px;} 
.textContactForm .textContactFormContent .price_choose .choose_box .circle:hover{background-color:#FF4F80;cursor:pointer; }
.textContactForm .textContactFormContent .price_choose .choose_box h3{width:80px;position:absolute;font-size:14px;left:50%;margin-left:-30px; }
.textContactForm .textContactFormContent .price_choose .choose_box h4{display:none;width:200px;position:absolute;font-size:14px;left:50%;margin-left:-42px;}
.textContactForm .textContactFormContent .price_choose .choose_box h4.hover{display:block;}
.textContactForm .textContactFormContent .price_choose .choose_box.hover .circle{ background-color:#FF4F80; cursor:pointer; }
.textContactForm .textContactFormContent .price_choose .choose_box:hover h4{display:block;}
.textContactForm .textContactFormContent .price_choose .line{width:138px;height:1px;background:#000;float:left;margin:18px 5px;margin-top:48px;}
.textContactForm .textContactFormContent .price_choose.one{display:block;}

@media screen and (min-width:1400px){
	.content_area{width:1100px;height:850px; position:relative;margin:80px auto;}
	.content_area h1{font-size:36px;letter-spacing:3px; margin:0px auto; display:block; font-weight:400;text-align:center;color:#444; margin-bottom:20px;}
	.content_area .title_box{width:100%;margin-bottom:20px;overflow:hidden; }
	.content_area .title_box p{float:left;margin:0px 15px 0px 15px; } 
	.content_area .title_box .line1{width:140px;height:1px;background:#999;float:left;margin:10px 0px; }
	.content_area .title_box .line2{width:140px;height:1px;background:#999;float:left;margin:10px 0px; }
	.textContactForm {width:800px;margin:0 auto;margin-top:30px;display:block;padding:15px; line-height:40px;  border-radius:10px;display:block;overflow:hidden;}
	.textContactForm .textContactFormContent { width:800px;overflow:hidden;}
	.textContactForm .textContactFormContent .rightBox {width:390px;float:right; }
	.textContactForm .textContactFormContent .leftBox {width:380px; }
	.textContactForm .textContactFormContent .leftBox .area.phone{display:none;}
	.textContactForm .textContactFormContent .leftBox .area select { height:36px; }
	.textContactForm .textContactFormContent .leftBox .area span{}
	.textContactForm .textContactFormContent .leftBox .area p{line-height:38px;}
	.textContactForm .textContactFormContent .leftBox  input{width:72%; height:36px;}

	.textContactForm .textContactFormContent .price_choose .choose_area{width:630px;}
	.textContactForm .textContactFormContent .price_choose .choose_box .circle{width:18px;height:18px;} 
	.textContactForm .textContactFormContent .price_choose .line{width:150px;height:1px;background:#000;float:left;margin:23px 5px;margin-top:48px;}
}


@media screen and ( max-width:1024px ) and (min-width: 800px) {
	.content_area{width:700px;height:850px; position:relative;margin:80px auto;}
	.textContactForm {width:700px;margin:0 auto;margin-top:30px;display:block;padding:0px; line-height:40px;  border-radius:10px;display:block;overflow:hidden;overflow:hidden;}
	.textContactForm .textContactFormContent { width:700px;}
	.content_area .title_box{width:100%;margin-bottom:20px;overflow:hidden; }
	.content_area .title_box p{float:left;margin:0px 8px 0px 8px; } 
	.content_area .title_box .line1{width:50px;height:1px;background:#999;float:left;margin:10px 0px; }
	.content_area .title_box .line2{width:50px;height:1px;background:#999;float:left;margin:10px 0px; }


	.contact_content_area{ width:700px;height:770px; position:relative;margin:80px auto 0;}

}

@media screen and (max-width: 799px) and (min-width: 701px){
	.content_area{width:90%;height:auto; position:relative;margin:80px auto;}
	.content_area h1{font-size:36px;letter-spacing:3px; margin:0px auto; display:block; font-weight:400;text-align:center;color:#444; margin-bottom:20px;}
	.content_area .title_box{width:100%;margin-bottom:20px;overflow:hidden; }
	.content_area .title_box p{float:none;margin:0px 0px 0px 0px; } 
	.content_area .title_box .line1{display:none;}
	.content_area .title_box .line2{width:100%;height:1px;background:#999;float:none;margin:10px 0px; }
	.textContactForm {width:100%;margin:0 auto;margin-top:30px;display:block;padding:0px; line-height:40px;  border-radius:10px;display:block;overflow:hidden;}
	.textContactForm .textContactFormContent { width:100%;overflow:hidden;}
	.textContactForm .textContactFormContent .rightBox {width:100%;float:none; }
	.textContactForm .textContactFormContent .rightBox textarea{ width:94.5%;height:160px;border-radius:3px;border:1px solid #7C7C7C; background:rgba(255,255,255,0.6);padding:15px;font-size:14px;letter-spacing:2px; }
	.textContactForm .textContactFormContent .leftBox {width:100%;float:none;  margin-bottom:20px;}
	.textContactForm .textContactFormContent .leftBox .area.phone{display:block;}
	.textContactForm .textContactFormContent .price_choose{display:none;}
	.textContactForm .textContactFormContent .price_choose.one{display:none;}


	.textContactFormMoneyFixed { display:block;line-height:25px; width:100%; height:50px; padding:15px 0; background: rgba(50, 50, 50, 0.6); color:#FFF; border-radius:5px; z-index:999; text-align:center;letter-spacing:2px;margin-top:50px;}
	.textContactFormMoneyFixed span{ margin:0 5px; }


	.contact_content_area{ width:600px;height:770px; position:relative;margin:80px auto 0;}
	.contact_content_area .title_box .line1 { display:none; }
	.contact_content_area .title_box .line2 { display:none; }
	.textContactForm .textContactFormContent .leftBox input { width:85%; }
	.textContactForm .textContactFormContent .leftBox .area select { width:86%; }

}

@media screen and ( max-width:700px ) {
	.contact_content_area{ width:100%;height:1000px; position:relative;margin:80px auto 0; text-align:center; }
	.contact_content_area .title_box .line1 { display:none; }
	.contact_content_area .title_box .line2 { display:none; }
	.textContactForm { width:100%; padding:15px 0; }
	.textContactForm .textContactFormContent { width:90%; margin:0 auto; }
	.textContactForm .textContactFormContent .leftBox { width:100%; }
	.textContactForm .textContactFormContent .leftBox input { width:73%; }
	.textContactForm .textContactFormContent .leftBox .area select { width:75%; }
	.textContactForm .textContactFormContent .leftBox .area.phone { display:block; }
	.textContactFormMoneyFixed { display:block;line-height:25px; width:100%; height:50px; padding:15px 0; background: rgba(50, 50, 50, 0.6); color:#FFF; border-radius:5px; z-index:999; text-align:center;letter-spacing:2px;margin-top:50px;}
	.textContactFormMoneyFixed span{ margin:0 5px; }

	.textContactForm .textContactFormContent .rightBox {width:100%;float:none; }
	.textContactForm .textContactFormContent .rightBox textarea{ width:80.5%;height:100px;border-radius:3px;border:1px solid #7C7C7C; background:rgba(255,255,255,0.6);padding:15px;font-size:14px;letter-spacing:2px; }
	.textContactForm .textContactFormContent .price_choose{display:none;}
	.textContactForm .textContactFormContent .price_choose.one{display:none;}
}