
/* Layout */
a { color:#027de5; }
[data-hrefto]{ cursor:pointer; }
body { font-size: 12px; /* Resets 1em to 10px */color: #000; background: #fff url(../../img/bg5.jpg) fixed center center no-repeat; background-size:cover; line-height: 1.4; overflow-y:scroll; overflow-x:hidden; position:relative; }
.body { overflow-x:hidden;}

.logoStart { position:fixed; left:50%; top:50%; margin-top:-45px; margin-left:-100px; width:200px; height:90px; padding:0; z-index:99998; background: url(../../img/logo_black.svg) no-repeat; overflow:hidden; -webkit-animation: a201309080227 5s infinite; animation: a201309080227 5s infinite; }
@-webkit-keyframes a201309080227{
	0%{ -webkit-transform: translate(0,0) rotate(0deg); }
	50%{ -webkit-transform: translate(0,0) rotate(0deg); }
	75%{ -webkit-transform: translate(0,0) rotate(360deg); }
	100%{ -webkit-transform: translate(0,0) rotate(-360deg); }
}
@keyframes a201309080227{
	0%{ transform: translate(0,0) rotate(0deg); }
	50%{ transform: translate(0,0) rotate(0deg); }
	75%{ transform: translate(0,0) rotate(360deg); }
	100%{ transform: translate(0,0) rotate(-360deg); }
}

.logoStart.opacity0 { -webkit-animation:fadeOutDown 1s; animation:fadeOutDown 1s; }
.logoStart img{ width:200px; height:90px; }

.logoFixed { display: block; position:fixed; left:50%; top:0; margin-left:-450px; width:160px; height:60px; padding:0; background: url(../../img/logo.svg) no-repeat 0 10px; text-indent:-9999px; z-index:999999; overflow:hidden; -webkit-animation:p201407240426 3s; animation:p201407240426 3s; }
@-webkit-keyframes p201407240426{
	0%{ -webkit-transform: translate(-30px, 0); opacity:0; }
	70%{ -webkit-transform: translate(-30px, 0); opacity:0; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201407240426{
	0%{ transform: translate(-30px, 0); opacity:0; }
	70%{ transform: translate(-30px, 0); opacity:0; }
	100%{ transform: translate(0, 0); opacity:1; }
}
html.agent-ie .logoFixed { background-position: 0 0; }
html.agent-ie8 .logoFixed,
html.agent-ie9 .logoFixed { background-image: url(../../img/logo.png); }

.index_topHeader { display:none; position:fixed; width:100%; height:60px; top:0; background: rgba(0, 0, 0, 0.8); z-index:99999; }
body.start .index_topHeader { display:block; -webkit-animation:p201407240427 1s; animation:p201407240427 1s; }
body.start .index_topHeader.hover{display:block;z-index:111; height:75px;}
@-webkit-keyframes p201407240427{
	0%{ -webkit-transform: translate(0, -60px); opacity:0; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201407240427{
	0%{ transform: translate(0, -60px); opacity:0; }
	100%{ transform: translate(0, 0); opacity:1; }
}
.index_topHeader .center{width:960px;margin:0 auto;}
.index_topHeader .navBar { width:480px; float:right; margin:0 auto;}
.index_topHeader .navBar .box{width:120px;height:60px; position:relative;float:left; text-align:center;}
.index_topHeader .navBar .box .nav { position:absolute; top:0px; left:0px;opacity:1;  color:rgba(255,255,255,0.5); float:left; width:120px; height:55px; line-height:50px;  text-align:center; border-top:5px solid #000;cursor:pointer; letter-spacing:2px; -webkit-transition:opacity 0.5s; transition:opacity 0.5s;font-size:14px; }
.index_topHeader .navBar .box .nav2{ position:absolute; top:0px; left:0px; color:rgba(255,255,255,1); float:left; width:120px; height:55px; line-height:50px;text-align:center;opacity:0; border-top:5px solid rgba(255,255,255,0.8); -webkit-transition:opacity 0.5s; transition:opacity 0.5s; cursor:pointer;letter-spacing:2px; font-size:14px;}
.index_topHeader .navBar .box:hover .nav{opacity:0; }
.index_topHeader .navBar .box:hover .nav2{ opacity:1; }
.index_topHeader .navBar .box.down{position:relative;}
.index_topHeader .navBar .box.down .downbox{ display:none;position:absolute;width:160px;height:auto;top:60px;left:-20px; background-color:rgba(0,0,0,0.7);border-radius:0px 0px 10px 10px;-webkit-animation:p201407240450 0.65s; animation:p201407240450 0.65s;font-size:14px;overflow:hidden;}
.index_topHeader .navBar .box .downbox .downbox1{width:160px;height:55px; line-height:55px;color:#fff;border-bottom:1px solid #5d5d5d;letter-spacing:2px;color:#fff;font-size:14px;transition:0.3s;-webkit-transition:0.3s;}
.index_topHeader .navBar .box .downbox .downbox1:hover{background-color:rgba(0,0,0,0.9);}
.index_topHeader .navBar .box.down .downbox a{display:block;color:#fff;}
.index_topHeader .navBar .box.down:hover .downbox{display:block;  }
.index_topHeader .navBar .box.down:hover .downbox a{color:#fff;}
@-webkit-keyframes p201407240450{
	0%{ -webkit-transform: translate(0, -10px); opacity:0; }
	50%{ -webkit-transform: translate(0, -10px); opacity:0; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201407240450{
	0%{ transform: translate(0, -10px); opacity:0; }
	50%{ transform: translate(0, -10px); opacity:0; }
	100%{ transform: translate(0, 0); opacity:1; }
}

.phone_topHeader{display:none;}

.contactFormHover { display:block; position:fixed; right:0; top:0; margin-top:200px; background: rgba(50, 50, 50, 0.9); width:40px; height:150px; color:#FFF; padding: 10px 0 10px 5px; letter-spacing:10px; text-align:center; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border: 1px solid rgba(50, 50, 50, 0.9); border-right:none; cursor:pointer; z-index:9999; -webkit-transition: color 0.8s; transition: color 0.8s; }
.contactFormHover:hover { -webkit-animation: none; animation: none; color: #ff9204; }

.pencil { position:fixed; left:50%; top:50%; margin-left:-60px; margin-top:-60px; width:128px; height:128px; background: url(../../img/pencil.png) no-repeat; text-indent:-9999px; z-index:96; overflow:hidden; display:none; opacity:0; -webkit-transform: translate(-200px,100px); transform: translate(-200px,100px); }

.blue { color:#027de5; }
.orange { color:#ff9204; }
.purple { color:#a63ed6; }
.yellow { color:#ffdd24; }
.red { color:#eb3d82; }
.green { color:#8bb01c; }
.blueBorder { display:block; border-left:10px solid #027de5; line-height:20px; height:20px; padding:0 0 0 10px; }
.orangeBorder { display:block; border-left:10px solid #ff9204; line-height:20px; height:20px; padding:0 0 0 10px; }
.purpleBorder { display:block; border-left:10px solid #a63ed6; line-height:20px; height:20px; padding:0 0 0 10px; }
.yellowBorder { display:block; border-left:10px solid #ffdd24; line-height:20px; height:20px; padding:0 0 0 10px; }
.redBorder { display:block; border-left:10px solid #eb3d82; line-height:20px; height:20px; padding:0 0 0 10px; }
.greenBorder { display:block; border-left:10px solid #8bb01c; line-height:20px; height:20px; padding:0 0 0 10px; }



.footer{ display:block; position:absolute;bottom:0px;left:0px; width:100%; background:rgba(0,0,0,0.5); padding:10px 0px; z-index:10;overflow:hidden; }
.footer .area{width:960px;margin:0 auto;}
.footer .area p{color:#fff;font-size:12px;letter-spacing:2px; font-weight:100;}
.footer .area .left{float:left;} 
.footer .area .right{float:right;} 

.scroll_top { display:none; width:60px; height:60px; cursor:pointer; position:fixed; bottom:30px; right:30px; border-radius:50px; z-index:111; }
.scroll_top img{ width:100%; }
body.start .scroll_top { display:none; -webkit-animation:scroll_top 3s; animation:scroll_top 3s; }
body.start .scroll_top.hover{ display:block; z-index:111; }
body.start .scroll_top.unhover{ display:none; }

@-webkit-keyframes scroll_top{
	0%{ -webkit-transform: translate(20px, 0px); opacity:0; }
	100%{ -webkit-transform: translate(0px, 0px); opacity:1; }
}
@keyframes scroll_top{
	0%{ transform: translate(20px, 0px) rotate(90deg); opacity:0; }
	100%{ transform: translate(0px, 0px); opacity:1; }
}


@media screen and  (min-width: 1800px) {

	.logoFixed { display: block; position:fixed; left:50%; top:10px; margin-left:-600px; width:160px; height:60px; padding:0;}
	.index_topHeader { height:75px; }
	.index_topHeader .center{width:1300px;margin:0 auto;}
	.index_topHeader .navBar { width:500px; float:right; margin:0 auto; }
	.index_topHeader .navBar .box{width:120px;height:60px; position:relative;float:left; text-align:center;}
	.index_topHeader .navBar .box .nav {  float:left; width:120px; height:70px; line-height:65px;  font-size:16px; }
	.index_topHeader .navBar .box .nav2{width:120px; height:70px;line-height:65px;font-size:16px; }
	.index_topHeader .navBar .box.down{position:relative;}
	.index_topHeader .navBar .box.down .downbox{ display:none;position:absolute;width:180px;height:auto;top:75px;left:-30px; background-color:rgba(0,0,0,0.7);border-radius:0px 0px 10px 10px;-webkit-animation:p201407240450 0.65s; animation:p201407240450 0.65s;}
	.index_topHeader .navBar .box .downbox .downbox1{width:180px;height:65px; line-height:65px;font-size:16px;}		

}


@media screen and ( max-width:1024px ) and (min-width: 960px) {
	.footer .area{width:960px;margin:0 auto;}

	.scroll_top { width:50px; height:50px; }
}
@media screen and ( max-width:959px ) and (min-width: 700px) {
	.index_topHeader .center{width:700px;margin:0 auto;}
	.index_topHeader .navBar { width:400px; float:right; margin:0 auto; }
	.index_topHeader .navBar .box{width:100px;height:60px; position:relative;float:left; text-align:center;}
	.index_topHeader .navBar .box .nav { float:left; width:100px; }
	.index_topHeader .navBar .box .nav2{float:left; width:100px; }
	.index_topHeader .navBar .box.down .downbox{ width:100px;}
	.index_topHeader .navBar .box .downbox .downbox1{width:100px;}
	.footer .area{width:700px;margin:0 auto;}
	.logoFixed { display: block; position:fixed; left:50%; top:0; margin-left:-320px;}
	.scroll_top { width:40px; height:40px; }
}
@media screen and (max-width: 700px){
	.logoStart{display:none;}
	.logoFixed {display:none;}
	.pc_footer {display:none;}
	.contactFormHover{display:none;}
	
	.index_topHeader{display:none;}
	body.start .index_topHeader { display:none;animation:none; }
	.phone_topHeader{display:block;width:100%;background-color:rgba(0,0,0,1);height:60px;position:fixed;z-index:99999;}
	.phone_topHeader a{display:block;}
	.phone_topHeader .logo_box{width:140px; margin-left:18px; margin-top:13px;}
	.phone_topHeader .logo_box img{width:100%;}
	.phone_topHeader .navBar{display:none;width:100%;overflow:hidden;position:absolute;top:59px;background-color:rgba(0,0,0,0.9);}
	.phone_topHeader .navBar .box{width:100%;height:50px;border-bottom:1px dashed #555;transition:0.3s;font-size:14px;overflow:hidden;}
	.phone_topHeader .navBar .box .item{width:200px;height:50px;margin:0px  0px  0px 22px; overflow:hidden;padding-top:20px;}
	.phone_topHeader .navBar .box:hover{background-color:#000;}
	.phone_topHeader .navBar .box:active{background-color:#000;}
	.phone_topHeader .navBar .box .item p{text-align:center; color:rgba(255,255,255,0.8);letter-spacing:1px;margin-bottom:3px;float:left; margin-right:10px;transition:0.3s; margin-top:-3px;}
	.phone_topHeader .navBar .box:hover p{color:rgba(255,255,255,1);}
	.phone_topHeader .navBar .box:nth-of-type(1) .item span{color:#dd3c7b;}
	.phone_topHeader .navBar .box:nth-of-type(2) .item span{color:#ed8d25;}
	.phone_topHeader .navBar .box:nth-of-type(3) .item span{color:#84ae43;}
	.phone_topHeader .navBar .box:nth-of-type(4) .item span{color:#dd3c7b;}
	.phone_topHeader .navBar .box:nth-of-type(5) .item span{color:#ed8d25;}
	.phone_topHeader .navBar .box:nth-of-type(6) .item span{color:#84ae43;}
	.phone_topHeader .navBar .box:nth-of-type(7) .item span{color:#ed8d25;}
	.phone_topHeader .navBar .box:nth-of-type(8) .item span{color:#dd3c7b;}
	.phone_topHeader .navBar .box .nav{}
	.phone_topHeader .navBar .box .nav2{font-size:14px;letter-spacing:2px;}
	.phone_topHeader .toggle{position:absolute;right:18px;top:17px;width:28px;height:28px;cursor:pointer;opacity:0.65;transition:0.3s;}
	.phone_topHeader .toggle img{width:100%;}
	.phone_topHeader .toggle.active{opacity:0.65;transform:rotate(90deg);}
	
	.footer{ display:block; position:absolute;bottom:0px;left:0px; width:100%; background:rgba(0,0,0,0.5); padding:10px 0px; z-index:10;overflow:hidden; }
	.footer .area{width:300px;margin:0 auto;}
	.footer .area p{color:#fff;font-size:12px;letter-spacing:2px; font-weight:100;text-align:center;}
	.footer .area .left{float:none;text-align:center;} 
	.footer .area .right{float:right;} 

	.scroll_top { display:none; }
	body.start .scroll_top.hover{ display:none; }
	body.start .scroll_top.unhover{ display:none; }
	body.start .index_topHeader.hover { height:60px; }
	
}




