/*************************************************PageHome***/

.content_start { height: 1000px; }
.logoFixed { display: none; }
.contactFormHover { display: none; }

.brush { display:none; position:fixed; left:50%; top:50%; margin-left:-30px; margin-top:-60px; width:256px; height:256px; background: url(../img/brush.png) no-repeat; text-indent:-9999px; z-index:9999; overflow:hidden; opacity:1; transform: translate(-300px,0); display:none; }
.brush { margin-left:-30px;}
body.start .brush { display:block; animation: brushPageHomeForever 1.5s infinite, p201407240306 3s; }
@-webkit-keyframes p201407240306 {
	0%{ opacity:0; -webkit-transform: translate(0,0) ; }
	10%{ opacity:0; -webkit-transform: translate(0,0) ; }
	20%{ opacity:1; -webkit-transform: translate(0,0) ; }
	30%{ -webkit-transform: rotate(30deg) translate(100px,-100px) ; }
	40%{ -webkit-transform: rotate(-30deg) translate(100px,100px) ; }
	50%{ -webkit-transform: rotate(30deg) translate(-100px,-100px) ; }
	60%{ -webkit-transform: rotate(-30deg) translate(-150px,-150px) ; }
	70%{ -webkit-transform: rotate(90deg) translate(-250px,-250px) ; }
	80%{ -webkit-transform: rotate(-30deg) translate(-150px,-250px) ; }
	90%{ -webkit-transform: rotate(30deg) translate(-250px,-150px) ; }
	100%{ -webkit-transform: rotate(-1deg) translate(-300px,0) ; }
}
@keyframes p201407240306 {
	0%{ opacity:0; transform: translate(0,0) ; }
	10%{ opacity:0; transform: translate(0,0) ; }
	20%{ opacity:1; transform: translate(0,0) ; }
	30%{ transform: rotate(30deg) translate(100px,-100px) ; }
	40%{ transform: rotate(-30deg) translate(100px,100px) ; }
	50%{ transform: rotate(30deg) translate(-100px,-100px) ; }
	60%{ transform: rotate(-30deg) translate(-150px,-150px) ; }
	70%{ transform: rotate(90deg) translate(-250px,-250px) ; }
	80%{ transform: rotate(-30deg) translate(-150px,-250px) ; }
	90%{ transform: rotate(30deg) translate(-250px,-150px) ; }
	100%{ transform: rotate(-1deg) translate(-300px,0) ; }
}
@-webkit-keyframes brushPageHomeForever {
	0%{ -webkit-transform: rotate(-1deg) translate(-300px,0) ; }
	50%{ -webkit-transform: rotate(1deg) translate(-310px,10px) ; }
	100%{ -webkit-transform: rotate(-1deg) translate(-300px,0) ; }
}
@keyframes brushPageHomeForever {
	0%{ transform: rotate(-1deg) translate(-300px,0) ; }
	50%{ transform: rotate(1deg) translate(-310px,10px) ; }
	100%{ transform: rotate(-1deg) translate(-300px,0) ; }
}
body.start .content_start.hover .brush{ animation: brushPageHomeForever 1.5s infinite; transition: all 0.8s; opacity: 1; }
body.start .content_start.unhover .brush{ animation: none; transition: all 0.8s; opacity: 0; }

.content_start .bg2 { display:none; position:fixed; left:50%; top:50%; margin-left:-500px; margin-top:-250px; padding:0; width:1000px; height:800px; text-indent:-9999px; z-index:1; overflow:hidden; display:none; background: url(../img/bg1.png) no-repeat center center;position:fixed;top:50%;left:50%;margin-top:-400px; }
body.start .content_start .bg2 { display:block; animation:p201506270205 3.5s; opacity: 1; }
@keyframes p201506270205 {
	0%{ opacity:0; }
	50%{ opacity:0; }
	100%{ opacity:1; }
}
body.start .content_start.hover .bg2{ animation: none; transition: all 1s; opacity: 1; }
body.start .content_start.unhover .bg2{ animation: none; transition: all 1s; opacity: 0; }

.content_start .logo { display: none; position:fixed; left:50%; top:0; margin-left:-450px; width:160px; height:60px; padding:0; background: url(../img/logo.svg) no-repeat 0 10px; text-indent:-9999px; z-index:99998; overflow:hidden; transform: translate(370px,80px) rotate(0deg); opacity: 1; }
body.start .content_start .logo { display:block; animation: logoFixedPageHome 3s; }
@keyframes logoFixedPageHome {
	0%{ transform-origin: left bottom; transform: translate(370px,80px) rotate(-360deg); opacity:0; }
	80% { transform-origin: left bottom; transform: translate(370px,80px) rotate(-360deg); opacity: 0; }
	100%{ transform-origin: left bottom; transform: translate(370px,80px) rotate(0deg); opacity: 1; }
}
body.start .content_start.unhover .logo { animation: none; transition: opacity 1s; opacity: 0; }
body.start .content_start.hover .logo { animation: none; transition: opacity 1s; opacity: 1; }

.wrapper{ display:none; opacity:0.8; width:200px; height:100%; position:fixed; left:50%;  margin-left:-100px; background: #333; overflow:hidden; box-shadow:0 0 20px #CCC; z-index:99; }
body.start .content_start.unhover .wrapper { animation: none; transition: opacity 1s; opacity: 0; }
body.start .content_start.hover .wrapper { animation: none; transition: opacity 1s; opacity: 0.8; }
body.start .wrapper { display:block; animation:wrapperPageHome 3s, wrapperPageDesignForever 10s infinite; }
@keyframes wrapperPageHome{
	0% { box-shadow:0 0 10px #000; left:50%; opacity:0; transform:rotateX(180deg) rotateY(180deg) rotateZ(180deg);}
	20% { transform: translate(400px,0) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	40% { opacity:0.4; transform: translate(400px,0) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	60% { box-shadow:0 0  10px #000; transform: translate(0,0); opacity:0.8; }
	100% { box-shadow:0 0 100px #000; transform: translate(0,0); }
}
@keyframes wrapperPageHomeForever{
	0%{ }
	50% { box-shadow:5px 5px 100px #FFF; }
	100%{ box-shadow:5px 5px 100px #000; }
}
@keyframes wrapperPageDesignForever{
	0% { opacity:0.8; background:#333; box-shadow:5px 5px 100px #000; }
	20% { box-shadow:5px 5px 100px #FFF; }
	40% { box-shadow:5px 5px 100px #000; }
	60% { box-shadow:5px 5px 100px #FFF; }
	80% { opacity:0.8; background:#333; box-shadow:5px 5px 100px #000; }
	85% { opacity:0.5; background:#FFF; }
	100% { opacity:0.8; background:#333; box-shadow:5px 5px 100px #000; }
}
.wrapper nav{ padding-bottom:0px;width:100%;height:100%;position:absolute;left:50%; margin-left:-100px;top:0px; overflow:hidden;}
.wrapper nav .menu{ list-style:none;width:100%;height:300px;padding-top:50px;position:absolute;top:50%;margin-top:-150px; }
.wrapper nav .menu .li { height:50px; overflow:hidden; display:block; }
.wrapper nav .menu .li .title1 { display:block; height:50px; line-height:50px; text-align:center; color:#FFF; text-decoration:none; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; overflow:hidden; }
.wrapper nav .menu .li .title2 { height:50px; overflow:hidden; text-align:center; line-height:50px; margin-top:-50px; display:block; background:#333; color:#FFF; -webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out; }
.wrapper nav .menu:hover .li:hover .title2,
.wrapper nav .menu .li.click .title2 { -webkit-animation:menuaHoverTitle2Hover 1.4s; animation:menuaHoverTitle2Hover 1.4s; }
@-webkit-keyframes menuaHoverTitle2Hover{
	0%{ border-radius:0; color:#FFF; background:#333; }
	100%{ border-radius:50px; color:#000; background:#FFF; }
}
@keyframes menuaHoverTitle2Hover{
	0%{ border-radius:0; color:#FFF; background:#333; }
	100%{ border-radius:50px; color:#000; background:#FFF; }
}
.wrapper nav .menu .li:hover .title2 { margin-top:0; }
.wrapper nav .menu:hover .li.click .title2 { margin-top:-50px; animation:none; -webkit-animation:none; }
.wrapper nav .menu:hover .li:hover .title2,
.wrapper nav .menu .li.click .title2 { margin-top:0; border-radius:50px; color:#000; background:#FFF; }
.wrapper nav .footer{ font-size:12px; text-align:center; color:#AAA;position:absolute;bottom:30px; }

.textHome { display:none; position: fixed; left:50%; top:50%; margin-left:-420px; margin-top:-115px; overflow:hidden; box-shadow:0 0 100px #000; z-index:5; padding:30px; line-height:22px; color:#000; background:#FFF; width:200px; height:140px; opacity:0.8; border-radius:20px; box-shadow:5px 5px 100px #000; z-index:999;}
.textHome h2 { display:block; overflow:hidden; font-size:15px; font-weight:900; margin-bottom:20px; border-left:10px solid #CCC; padding-left:5px; }
body.forever .textHome { display:block; animation:textContent1PageHome 1s; }
@keyframes textContent1PageHome{
	0% { opacity:0; transform: rotateZ(180deg) scale(1.1);}
	10% { transform: rotateZ(-180deg) scale(1.08); }
	20% { transform: rotateZ(90deg) scale(1.06); }
	30% { transform: rotateZ(-45deg) scale(1.04); }
	40% { transform: rotateZ(22deg) scale(1.02); }
	50% { transform: rotateZ(-11deg) scale(1); }
	60% { transform: rotateZ(5deg) scale(1); }
	70% { transform: rotateZ(-2deg) scale(1); }
	80% { transform: rotateZ(1deg) scale(1); }
	85% { transform: rotateZ(-1deg) scale(1); }
	90% { transform: rotateZ(1deg) scale(1); }
	95% { transform: rotateZ(-1deg) scale(1); }
	100% { opacity: 0.7; transform: rotateZ(0) scale(1); }
}
body.start .content_start.hover .textHome{ animation: none; transition: all 0.5s; transform: translate(0, 0); }
body.start .content_start.unhover .textHome{ animation: none; transition: all 0.5s; transform: translate(-1000px, 0); }
.textHome h2 { border-left:10px solid #ea3d82; }
.textHome h2 b { color:#ea3d82; }

.oneRightBox { display:block; position:fixed; left:50%; top:50%; margin-left:140px; margin-top:-240px; z-index:4; width:268px; overflow:hidden; }
.oneRightBox .box { display:none; width:240px; padding: 10px 16px 21px 13px; height:175px; background: url(../img/boxBg.png); margin-bottom:30px; }
.oneRightBox .box:nth-of-type(2){margin-bottom:0px;}
body.forever .oneRightBox .box { display:block; animation:oneRightBoxBoxPageHomeOnce 1.4s both; }
@keyframes oneRightBoxBoxPageHomeOnce{
	0%{ opacity:0; }
    10% { transform: perspective(400px) rotateY(90deg); }
    20% { transform: perspective(400px) rotateY(-10deg); }
    30% { transform: perspective(400px) rotateY(10deg); }
    40% { transform: perspective(400px) rotateY(-5deg); }
    50% { transform: perspective(400px) rotateY(5deg); }
    60% { opacity:1; transform: perspective(400px) rotateY(-2deg); }
    70% { transform: perspective(400px) rotateY(2deg); }
    100% { transform: perspective(400px) rotateY(0deg); }
}
body.start .content_start.hover .oneRightBox{ animation: none; transition: all 0.5s; transform: translate(0, 0); }
body.start .content_start.unhover .oneRightBox{ animation: none; transition: all 0.5s; transform: translate(1000px, 0); }
.oneRightBox .box img { width:240px; height:175px; background:#000;  margin-left:1px; }
.footer { background:none; }

@media screen and (max-width: 700px){
	.textHome { display:none;animation:none; }
	body.forever .textHome {display:none;animation:none; }
	.oneRightBox {display:none;animation:none; }
	body.forever .oneRightBox .box {display:none;animation:none; }
	.brush { display:none; }
	body.start .brush { display:none; animation:none; }
	body.start.forever .brush { animation:none; }
	.bg1 { display:block;width:600px; background: url(../img/bg1.png) no-repeat center center; background-size:contain;position:fixed;top:50%;left:50%;margin-top:-400px;margin-left:-300px; }
	body.start .bg1 { animation:none; }
	
	
	body.start .wrapper { display:block; -webkit-animation:a201506081151 0.5s; animation:a201506081151 0.5s; }
	@-webkit-keyframes a201506081151{
	0%{ opacity:0; }
    50% { opacity:0;  }
    100% { opacity:0.8;  }
	}
	@keyframes a201506081151{
	0%{ opacity:0; }
    50% {  opacity:0; }
    100% { opacity:0.8;  }
	}

	.wrapper nav .menu .li .title1 { display:block; height:50px; line-height:50px; text-align:center; color:#FFF; text-decoration:none; -webkit-transition:none; transition:none; overflow:hidden; }
	.wrapper nav .menu .li .title2 { height:50px; overflow:hidden; text-align:center; line-height:50px; margin-top:-50px; display:block; background:#333; color:#FFF; -webkit-transition:none; transition:none; }
	.wrapper nav .menu:hover .li:hover .title2,
	.wrapper nav .menu .li.click .title2 { animation:none;}
	
	.wrapper nav .menu .li:hover .title2 { margin-top:0; }
	.wrapper nav .menu:hover .li.click .title2 { margin-top:-50px; animation:none; -webkit-animation:none; }
	.wrapper nav .menu:hover .li:hover .title2,
	.wrapper nav .menu .li.click .title2 { margin-top:0; border-radius:50px; color:#fff; background:rgba(0,0,0,0.5); }
	.wrapper nav .footer{ font-size:12px; text-align:center; color:#AAA; }
	.contactFormHover{display:none;}
	
	.logoFixed { display:block; opacity: 1; -webkit-transform: translate(370px,80px) rotate(0deg); transform: translate(370px,80px) rotate(0deg); }
	body.start .logoFixed,
	body.start.forever .logoFixed { display:block; -webkit-animation:a201506081151 1s; animation:a201506081151 1s; }
	body.start.forever .wrapper { -webkit-animation:none; animation:none; }


}

/****************content_title1*****************/
/*
.content_title1 { height: 1000px; }
.content_title1 .title_bg { display: none; left:0; top: 0; position: fixed; background: url(../img/index/content_title1_bg.jpg) no-repeat; width: 100%; height: 100%; }
.content_title1.hover .title_bg { display: block; transform-origin: center top; animation: p201506270348 1s; transform: translate(0, 0); }
@keyframes p201506270348{
	0%{ opacity:0; transform: perspective(400px) rotateX(-90deg); }
    100% { opacity:1; transform: perspective(400px) rotateX。(0deg); }
}
.content_title1.unhover .title_bg { display: block; transform-origin: center bottom; animation: p201506270349 1s; opacity:0; }
@keyframes p201506270349{
    0% { opacity:1; transform: perspective(400px) rotateX。(0deg); }
    50% { opacity:0; transform: perspective(400px) rotateX(90deg); }
    100% { opacity:0; transform: perspective(400px) rotateX(90deg); }
}
*/

/****************content_plan*****************/

.content_plan { display: block; position: relative; background: url(../img/index/bg_table.jpg) no-repeat 50% 50% fixed; background-size: cover; height: 1000px; overflow: hidden; }

/****************content_color*****************/

.content_color { background: url(../img/index/bg_table2.jpg) no-repeat 50% 50% fixed; background-size: cover; height: 1000px; overflow: hidden; }

/****************content_picture*****************/

.content_picture { background: url(../img/index/bg_table3.jpg) no-repeat 50% 50% fixed; background-size: cover; height: 1000px; overflow: hidden; }

/****************content_portfolio*****************/

.content_portfolio { background: #FFF; position: relative; height: 3420px; overflow: hidden; z-index: 1; }
.content_portfolio .bg1 { position: absolute; margin-top: 50px; width: 100%; }
.content_portfolio .bg2 { position: absolute; margin-top: 1350px; width: 100%; }
.content_portfolio .item { position: absolute; margin-top: 900px; width: 100%; }
.content_portfolio .title { position: absolute; left: 50%; width: 595px; margin-left: -297px; z-index: 2; }

.content_portfolio .million_roof { position: absolute; width: 1000px; height: 600px; left: 0; background: ; margin-top: 100px; }
.content_portfolio .million_roof img { float:left; width: 100%; }
.content_portfolio .gopro { position: absolute; width: 1000px; height: 600px; right: 0; background: ; margin-top: 1000px; }
.content_portfolio .gopro img { float:left; width: 100%; }
.content_portfolio .candace { position: absolute; width: 1000px; height: 600px; left: 0; background: ; margin-top: 2000px; }
.content_portfolio .candace img { float:left; width: 100%; }

/****************content_bottom*****************/

.content_bottom { height: 4500px; overflow: hidden; }
.content_bottom .bg1 { display: none; position: fixed; left: 0; top : 0; height: 100%; overflow: hidden; }
.content_bottom.hover .bg1 { display: block; }
.content_bottom .bg1 img { float: left; height: 100%; }
.content_bottom .service { display:none; position: fixed; top:0; margin-left: 1000px; }
.content_bottom.hover .service { display: block; animation: p201506270828 1s; }
.content_bottom .contact { display:none; position: fixed; top:0; margin-left: 3000px; }
.content_bottom.hover .contact { display: block; animation: p201506270828 1s; }
@keyframes p201506270828{
	0% { opacity:0 ;}
	100% { opacity:1 ;}
}
.content_bottom .pic_move { display: none; position: fixed; top:0; animation: p201506270828 1s; }
.content_bottom.hover .pic_move { display: block; animation: p201506270828 1s; }
.content_bottom .pic_move.pic1 { margin-left: 1500px; }
.content_bottom .pic_move.pic2 { margin-left: 2000px; }
.content_bottom .pic_move.pic3 { margin-left: 2500px; }