/*************************************************Page news***/

body { background-image:url(../img/bg5.jpg) ; background-size:cover;  }
p{font-size:14px; letter-spacing:3px;line-height:22px;}
@media screen and (min-width:1400px){
	p{font-size:18px; letter-spacing:4px;line-height:26px;}

}
.content1{ width:100%; background:url(../img/server/content1/bg.png) 50% 50% fixed; background-size:cover;position:relative;overflow:hidden;}
.content1 .bg1{width:100%;position:absolute; left:50px;top:50px;-webkit-animation: p201507170127 5s;animation: p201507170127 5s; }
.content1 .bg1 img{width:90%;} 
.content1 .bg2{width:100%;position:absolute;left:50px;top:50px;-webkit-animation: p201507170127 4s;animation: p201507170127 4s;  }
.content1 .bg2 img{width:90%;} 
.content1 .bg3{width:100%;position:absolute;left:0px;top:-100px;opacity:0.5;-webkit-animation: p201507170128 3s;animation: p201507170128 3s;  }
.content1 .bg3 img{width:100%;}
.content1 .mobile_bg{display:none;}
@-webkit-keyframes p201507170127{
	0% { opacity:0 ; }
	100% { opacity:1 ;}
}
@keyframes p201507170127{
	0% { opacity:0 ; }
	100% { opacity:1 ;}
}
@-webkit-keyframes p201507170128{
	0% { opacity:0 ; }
	50% { opacity:0 ; }
	100% { opacity:0.5 ;}
}
@keyframes p201507170128{
	0% { opacity:0 ; }
	50% { opacity:0 ; }
	100% { opacity:0.5 ;}
}
.content1 .area{ position:absolute;width:40%;left:50%; margin-left:-20%; margin-top:-30%;overflow:hidden;}
.content1 .area .pic1{width:300px;position:absolute;left:50%;top:50%;margin-top:-160px; margin-left:-150px;-webkit-animation: p201507170120 1.5s;animation: p201507170120 1.5s; }
.content1 .area .pic1 img{width:100%;}
@-webkit-keyframes p201507170120{
	0% { opacity:0 ; }
	50% { opacity:0 ; }
	100% { opacity:1 ;}
}
@keyframes p201507170120{
	0% { opacity:0 ; }
	50% { opacity:0 ; }
	100% { opacity:1 ;}
}
.content1 .area .text{width:80%; position:absolute;left:50%; margin-left:-40%;top:50%;margin-top:5%; padding-top:20px;border-top:1px solid rgba(255,255,255,0.3);-webkit-animation: p201507170120 2s;animation: p201507170120 2s; }
.content1 .area .text h2{display:none;text-align:center; color:#fff; margin-bottom:10px;font-size:16px;letter-spacing:4px;font-weight:300;}
.content1 .area .text h2:nth-of-type(1){display:block;-webkit-animation: p201507170120 2s , p201507170119 2.5s;animation:p201507170120 2s , p201507170119 2.5s;}
.content1 .area .text h2:nth-of-type(2){display:block;-webkit-animation:p201507170120 2s , p201507170119 3s;animation:p201507170120 2s , p201507170119 3s;}
.content1 .area .text h2:nth-of-type(3){display:block;-webkit-animation:p201507170120 2s , p201507170119 3.5s;animation:p201507170120 2s , p201507170119 3.5s;}
@-webkit-keyframes p201507170119{
	0% { opacity:0 ; -webkit-transform:translate(0px , 20px);}
	50% { opacity:0 ;-webkit-transform:translate(0px , 20px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes p201507170119{
	0% { opacity:0 ; transform:translate(0px , 20px);}
	50% { opacity:0 ;transform:translate(0px , 20px);}
	100% { opacity:1 ;transform:translate(0px , 0px);}
}
.content1 .area .arrow{width:50px;height:85px;display:block;position:absolute;left:50%;margin-left:-25px;bottom:40px;overflow:hidden;animation:p201507170120 4.3s , arrow2 3s  infinite;-webkit-animation:p201507170120 4.3s , arrow2  3s  infinite;}
.content1 .area .arrow img{width:50px;margin-top:10px;}
@-webkit-keyframes arrow2 {
	0%{ -webkit-transform: translate(0px,0px) ;}
	50%{ -webkit-transform:translate(0px,-20px) ; }
	100%{-webkit-transform: translate(0px,0px) ;}
}
@keyframes arrow2 {
	0%{transform:  translate(0px,0px) ;  }
	50%{ transform:  translate(0px,-20px) ; }
	100%{transform:  translate(0px,0px) ;  }
}
@media screen and (min-width:1400px){
	.content1 .area .text{width:80%; position:absolute;left:50%; margin-left:-40%;top:50%;margin-top:6%; padding-top:35px; }
	.content1 .area .text h2{margin-bottom:20px;font-size:28px;letter-spacing:8px;}
	.content1 .area .pic1{width:450px;margin-top:-230px;margin-left:-225px;}	
}
@media screen and ( max-width:1024px ) and (min-width: 700px) {
	.content1 .area{ position:absolute;width:60%;left:50%; margin-left:-30%;}
	.content1 .area .pic1{width:250px;margin-top:-120px;margin-left:-125px;}
	.content1 .area .text{width:100%; left:50%; margin-left:-50%;top:50%;margin-top:7%; padding-top:20px;}
}
@media screen and (max-width: 700px){
	.content1 .area{ position:absolute;width:86%;left:50%; margin-left:-43%;}
	.content1 .area .pic1{width:250px;margin-top:-140px;margin-left:-125px;-webkit-animation:none;animation:none;}
	.content1 .area .text{width:100%; left:50%; margin-left:-50%;top:50%;margin-top:7%; padding-top:20px;-webkit-animation:none;animation:none;}
	.content1 .area .text h2{display:block;margin-bottom:10px;font-size:14px;letter-spacing:2px;}
	.content1 .area .text h2:nth-of-type(1){display:block;-webkit-animation:none;animation:none;}
	.content1 .area .text h2:nth-of-type(2){display:block;-webkit-animation:none;animation:none;}
	.content1 .area .text h2:nth-of-type(3){display:block;-webkit-animation:none;animation:none;}
	.content1 .bg1{display:none;	}
	.content1 .bg2{display:none;} 
	.content1 .bg3{display:none;}
	.content1 .mobile_bg{display:block;width:100%;position:absolute;}
	.content1 .mobile_bg img{width:100%;}
	.content1 .area .arrow{width:60px;height:95px;display:block;position:absolute;left:50%;margin-left:-35px;bottom:30px;overflow:hidden;animation:p201507170120 1s , arrow2 3s  infinite;-webkit-animation:p201507170120 1s , arrow2  3s  infinite;}
	.content1 .area .arrow img{width:60px;margin-top:10px;}
}

/****************** *content2***********************************************/

.content2{ width:100%;height:650px; background:url(../img/server/content2/bg.png) fixed #999; background-size:cover;overflow:hidden; }
.content2 .area{ width:760px;height:500px;}
.content2 .area .text_arae{ width:500px;}
.content2 .area .text_arae .title_pic{display:block;width:500px; margin-bottom:15px;}
.content2 .area .text_arae .title_pic img{width:100%;}
.content2 .area .text_arae .text{width:400px; margin-left:15px;}
.content2 .area .text_arae .text p{ margin-bottom:15px;}
.content2 .area  .server{width:280px; }
.content2 .area  .server img{width:100%;}
.content2 .phone_text1{display:none;}
.content2 .phone_text2{display:none;}
.content2 .phone_map{display:none;}
.content2.hover .text_arae .title_pic{ display:block;}


@media screen and (min-width:1400px){
	.content2{height:750px;}
	.content2 .area{width:1366px;height:600px;}
	.content2 .area .text_arae{ width:650px;position:absolute;margin-left:-20px;margin-top:-13%;}
	.content2 .area .text_arae .title_pic{width:650px;}
	.content2 .area .text_arae .text{width:500px; }
	.content2 .area  .server{width:380px;margin-left:-460px; margin-top:-5%;}
}
@media screen and ( max-width:1024px ) and (min-width: 700px) {
	.content2 .area{ width:720px;height:500px;margin:0 auto;}
	.content2 .area .text_arae{ width:500px;left:50%; margin-left:-70px; top:50%; margin-top:-16%;}
	.content2 .area  .server{width:280px;left:50%;margin-left:-350px; top:50%; margin-top:-6%;}
		
}
@media screen and (max-width: 700px){
	.content2{ width:100%;height:705px; background:url(../img/server/content2/mobile/bg.png) center right fixed no-repeat; background-size:cover;overflow:hidden;}
	.content2 .area{width:310px;height:500px;margin:0 auto;position:relative; }
	.content2 .area .text_arae{width:100%;position:absolute;left:50%; margin-left:-155px; top:50%; margin-top:-190px;}
	.content2 .area .text_arae  .title_pic{display:none;}
	.content2 .phone_text1{display:block;width:330px; margin:0 auto 120px auto; margin-left:10px;position:relative;z-index:2;}
	.content2 .phone_text2{display:block;width:200px;margin-left:105px;margin-bottom:40px;position:relative;z-index:2;}
	.content2 .phone_map{display:block; position:absolute;width:250px;z-index:1;right:-60px;top:50px;}
	.content2 .area .text_arae .text{width:315px; margin-left:0px;}
	.content2 .area .text_arae .text p{text-indent:34px;}
	.content2 .area  .server{width:190px; position:absolute;left:-75px;margin-left:0px; top:50%; margin-top:-110px;}
	
}

/*********************content3*********************************************/
.content3{ width:100%; height:750px;overflow:hidden;  background:#EBEBEC; }
.content3 .area{width:1050px; margin:0px auto;overflow:hidden; }
.content3 .area .left_box{width:320px;float:left; }
.content3 .area .left_box img{width:100%;}
.content3 .area .right_box{width:710px;float:right; margin-top:40px;}
.content3 .area .right_box .box {width:190px;float:left;margin-right:20px;}
.content3 .area .right_box .box:nth-of-type(4){margin-right:0px;}
.content3 .area .right_box .box .type{width:170px; display:block; margin:0px auto 30px auto;}
.content3 .area .right_box .box .item_box{padding:10px;width:168px; background-color:#fff; border:1px solid #B7B7B7;border-radius:15px;}
.content3 .area .right_box .box .item_box .price{height:70px;line-height:70px;padding-top:20px; margin-bottom:10px; border-bottom:1px solid #eee; }
.content3 .area .right_box .box .item_box .price span{font-size:30px;font-weight:600;color:#E13D7E;letter-spacing:0px;padding-left:5px;padding-right:5px;} 
.content3 .area .right_box .box .item_box p{text-align:center;line-height:50px;}
.content3 .area .right_box .box .item_box .item{height:50px;}
.content3 .area .right_box .box.short{width:90px;margin-right:10px; }
.content3 .area .right_box .box.short .item_box{background-color:rgba(255,255,255,0);  border:none;width:80px; margin-top:105px;}
.content3 .area .right_box .box.short .item_box .price{border-bottom:none;}
.content3  .pc_title{display:block;}
.content3  .pad_title{display:none;}

@media screen and (min-width:1400px){
	.content3{ width:100%; height:800px;}
	.content3 .area{width:1270px;}
	.content3 .area .left_box{width:400px;}
	.content3 .area .left_box img{width:100%; margin-top:30px;}
	.content3 .area .right_box{width:830px;margin-top:70px;}
	.content3 .area .right_box .box {width:220px;float:left;margin-right:20px;}
	.content3 .area .right_box .box .type{width:210px;}
	.content3 .area .right_box .box .item_box{padding:10px;width:198px; }
	.content3 .area .right_box .box.short{width:120px; }
	.content3 .area .right_box .box.short .item_box{ width:100px; }
}
@media screen and ( max-width:1024px ) and (min-width: 700px) {
	.content3{ width:100%; height:900px;overflow:hidden;  background:#EBEBEC; }
	.content3 .area{width:750px; margin:100px auto;overflow:hidden; }
	.content3 .area .left_box{width:750px;float:none; }
	.content3 .area .left_box img{width:100%;}
	.content3  .pc_title{display:none;}
	.content3  .pad_title{display:block;}
	.content3 .area .right_box{width:710px;float:none; margin-top:40px;}
}
/********************content4*******************************************/

.content4{ width:100%; height:auto;overflow:hidden; background:url(../img/server/content4/bg.png) 50% 50% fixed;background-size:cover;overflow:hidden;  padding-bottom:80px;}
.content4 .area{ width:960px; height:auto; margin-left:auto; margin-right:auto; margin-left:auto; margin-right:auto; padding-top:100px;}
.content4 .area .title{width:356px;display:block; margin:0 auto 50px auto;}
.content4 .area .title img{ width:100%;}
.content4 .area .pic1{width:100%;}



/****************.content5********************************************/

.content5{ height:700px;background:url(../img/server/content5/bg.png) fixed;background-size:cover; overflow:hidden; position:relative; }
.content5 .area{ width:850px; }
.content5 .black_bg {display:block;width:800px;position:absolute;left:50%;margin-left:-100px;overflow:hidden;}
.content5 .black_bg  .bg2{float:left;}

/*****************.content6******************************************/
.content6{ width:100%; height:700px;background:url(../img/server/content6/bg.png) 50% 50% fixed;background-size:cover; overflow:hidden; }
.content6 .area{ width:960px; height:650px; margin-left:auto; margin-right:auto; margin-left:auto; margin-right:auto; padding-top:120px;z-index:1; }

/******************.content7****************************************/

.content7{ width:100%; height:700px;background:url(../img/server/content7/bg.png) 50% 50% fixed;background-size:cover;overflow:hidden; }
.content7 .area{ width:960px; height:650px; margin-left:auto; margin-right:auto; margin-left:auto; margin-right:auto; padding-top:120px; z-index:1; }








