
/* Layout */
a { color:#027de5; }
[data-hrefto]{ cursor:pointer; }
body { font-size: 12px; /* Resets 1em to 10px */color: #000; background: #fff url(../img/bg5.jpg) fixed center center no-repeat; background-size:cover; line-height: 1.4; overflow-y:scroll; }
.body { overflow-x:hidden; }

.logoStart { position:fixed; left:50%; top:50%; margin-top:-45px; margin-left:-100px; width:200px; height:90px; padding:0; z-index:99998; background: url(../img/logo_black.svg) no-repeat; overflow:hidden; -webkit-animation: a201309080227 5s infinite; animation: a201309080227 5s infinite; }
@-webkit-keyframes a201309080227{
	0%{ -webkit-transform: translate(0,0) rotate(0deg); }
	50%{ -webkit-transform: translate(0,0) rotate(0deg); }
	75%{ -webkit-transform: translate(0,0) rotate(360deg); }
	100%{ -webkit-transform: translate(0,0) rotate(-360deg); }
}
@keyframes a201309080227{
	0%{ transform: translate(0,0) rotate(0deg); }
	50%{ transform: translate(0,0) rotate(0deg); }
	75%{ transform: translate(0,0) rotate(360deg); }
	100%{ transform: translate(0,0) rotate(-360deg); }
}

.logoStart.opacity0 { -webkit-animation:fadeOutDown 1s; animation:fadeOutDown 1s; }
.logoStart img{ width:200px; height:90px; }

.picLoading { display:block; position:fixed; overflow:hidden; left:50%; top:50%; width:300px; height:300px; margin:30px 0 0 -150px; z-index:99999; text-align:center; font-size:16px; color:#555; }
.picLoading.opacity0 { -webkit-animation:fadeOutDown 1s; animation:fadeOutDown 1s; }
.picLoadingList { display:none; }
.picLoadingList2 { display:none; }

.logoFixed { display: block; position:fixed; left:50%; top:0; margin-left:-450px; width:160px; height:60px; padding:0; background: url(../img/logo.svg) no-repeat 0 10px; text-indent:-9999px; z-index:99998; overflow:hidden; -webkit-animation:p201407240426 3s; animation:p201407240426 3s; }
@-webkit-keyframes p201407240426{
	0%{ -webkit-transform: translate(-30px, 0); opacity:0; }
	70%{ -webkit-transform: translate(-30px, 0); opacity:0; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201407240426{
	0%{ transform: translate(-30px, 0); opacity:0; }
	70%{ transform: translate(-30px, 0); opacity:0; }
	100%{ transform: translate(0, 0); opacity:1; }
}
html.agent-ie .logoFixed { background-position: 0 0; }
html.agent-ie8 .logoFixed,
html.agent-ie9 .logoFixed { background-image: url(../img/logo.png); }

.index_topHeader { display:none; position:fixed; width:100%; height:60px; top:0; background: rgba(0, 0, 0, 0.8); z-index:100; z-index:99; }
body.start .index_topHeader { display:block; -webkit-animation:p201407240427 1s; animation:p201407240427 1s; }
@-webkit-keyframes p201407240427{
	0%{ -webkit-transform: translate(0, -60px); opacity:0; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201407240427{
	0%{ transform: translate(0, -60px); opacity:0; }
	100%{ transform: translate(0, 0); opacity:1; }
}
.index_topHeader .navBar { width:500px; padding-left:300px; margin:0 auto; }
.index_topHeader .navBar .box{width:120px;height:60px; position:relative;float:left; text-align:center;}
.index_topHeader .navBar .box .nav { position:absolute; top:0px; left:0px;opacity:1;  color:rgba(255,255,255,0.5); float:left; width:120px; height:55px; line-height:50px;  text-align:center; border-top:5px solid #000;cursor:pointer; letter-spacing:2px; -webkit-transition:opacity 0.5s; transition:opacity 0.5s; }
.index_topHeader .navBar .box .nav2{ position:absolute; top:0px; left:0px; color:rgba(255,255,255,1); float:left; width:120px; height:55px; line-height:50px;text-align:center;opacity:0; border-top:5px solid rgba(255,255,255,0.8); -webkit-transition:opacity 0.5s; transition:opacity 0.5s; cursor:pointer;letter-spacing:2px; }
.index_topHeader .navBar .box:hover .nav{opacity:0; }
.index_topHeader .navBar .box:hover .nav2{ opacity:1; }
.index_topHeader .navBar .box.down{position:relative;}
.index_topHeader .navBar .box.down .downbox{ display:none;position:absolute;width:120px;height:168px;top:60px;left:0px; background-color:rgba(0,0,0,0.7);border-radius:0px 0px 10px 10px;-webkit-animation:p201407240450 0.65s; animation:p201407240450 0.65s;}
.index_topHeader .navBar .box .downbox .downbox1{width:120px;height:55px; line-height:55px;color:#fff;border-bottom:1px solid #5d5d5d;position:relative;letter-spacing:2px;}

.index_topHeader .navBar .box .downbox .downbox3{width:120px;height:55px; line-height:55px;color:#fff;border-bottom:1px solid #5d5d5d;position:absolute;top:0px;left:0px;}
.index_topHeader .navBar .box.down:hover .downbox{display:block;height:168px;  }
@-webkit-keyframes p201407240450{
	0%{ -webkit-transform: translate(0, -10px); opacity:0; }
	50%{ -webkit-transform: translate(0, -10px); opacity:0; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201407240450{
	0%{ transform: translate(0, -10px); opacity:0; }
	50%{ transform: translate(0, -10px); opacity:0; }
	100%{ transform: translate(0, 0); opacity:1; }
}

.index_topHeader .navBar .box .downbox1:hover .downbox2{display:none;}
.index_topHeader .navBar .box .downbox1:hover .downbox3{display:block;}
.phone_topHeader{display:none;}

.contactFormHover { display:block; position:fixed; right:0; top:0; margin-top:200px; background: rgba(50, 50, 50, 0.9); width:40px; height:150px; color:#FFF; padding: 10px 0 10px 5px; letter-spacing:10px; text-align:center; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border: 1px solid rgba(50, 50, 50, 0.9); border-right:none; cursor:pointer; z-index:9999; -webkit-transition: color 0.8s; transition: color 0.8s; }
.contactFormHover:hover { -webkit-animation: none; animation: none; color: #ff9204; }

.pencil { position:fixed; left:50%; top:50%; margin-left:-60px; margin-top:-60px; width:128px; height:128px; background: url(../img/pencil.png) no-repeat; text-indent:-9999px; z-index:96; overflow:hidden; display:none; opacity:0; -webkit-transform: translate(-200px,100px); transform: translate(-200px,100px); }

.blue { color:#027de5; }
.orange { color:#ff9204; }
.purple { color:#a63ed6; }
.yellow { color:#ffdd24; }
.red { color:#eb3d82; }
.green { color:#8bb01c; }
.blueBorder { display:block; border-left:10px solid #027de5; line-height:20px; height:20px; padding:0 0 0 10px; }
.orangeBorder { display:block; border-left:10px solid #ff9204; line-height:20px; height:20px; padding:0 0 0 10px; }
.purpleBorder { display:block; border-left:10px solid #a63ed6; line-height:20px; height:20px; padding:0 0 0 10px; }
.yellowBorder { display:block; border-left:10px solid #ffdd24; line-height:20px; height:20px; padding:0 0 0 10px; }
.redBorder { display:block; border-left:10px solid #eb3d82; line-height:20px; height:20px; padding:0 0 0 10px; }
.greenBorder { display:block; border-left:10px solid #8bb01c; line-height:20px; height:20px; padding:0 0 0 10px; }


.pc_footer{ display:block; position:relative; width:100%; background:#555 url(../img/footerBg.jpg); padding-top:40px; z-index:10;overflow:hidden; }
.pc_footer .area{ width:950px; height:450px; margin:0 auto; overflow:hidden; }
.pc_footer .area .boxAbout{ width:220px; float:left; margin-right:50px; background-color:rgba(0,0,0,0); letter-spacing:3px; overflow:hidden; }
.pc_footer .area .boxAbout .text { }
.pc_footer .area .boxAbout .text h1{ color:#FFF; display:block; border-bottom:1px solid rgba(255,255,255,0.5);font-size:18px; margin-bottom:20px; padding-bottom:5px;}
.pc_footer .area .boxAbout .text a{ display:block; margin-bottom:15px; font-size:15px; line-height:18px; color:#999; -webkit-transition: color 0.5s; transition: color 0.5s; }
.pc_footer .area .boxAbout .text a .black { font-size:12px; color:#555; -webkit-transition: color 0.5s; transition: color 0.5s; }
.pc_footer .area .boxAbout .text a:hover { color:#FFF; }
.pc_footer .area .boxAbout .text a:hover .black{ color:#999; }

.pc_footer .area .boxNews { width:180px; float:left; margin-right:50px; background-color:rgba(0,0,0,0); letter-spacing:3px; overflow:hidden; }
.pc_footer .area .boxNews .text { }
.pc_footer .area .boxNews .text h1{ color:#FFF; display:block; border-bottom:1px solid rgba(255,255,255,0.5);font-size:18px; margin-bottom:20px; padding-bottom:5px;}
.pc_footer .area .boxNews .text a{ display:block; margin-bottom:15px; font-size:12px; line-height:18px; color:#999; -webkit-transition: color 0.5s; transition: color 0.5s; }
.pc_footer .area .boxNews .text a .black { font-size:12px; color:#555; -webkit-transition: color 0.5s; transition: color 0.5s; }
.pc_footer .area .boxNews .text a:hover { color:#FFF; }
.pc_footer .area .boxNews .text a:hover .black{ color:#999; }

.pc_footer .area .boxRight{ width:450px; float:right; background-color:rgba(0,0,0,0); color:rgba(255,255,255,1); letter-spacing:3px; overflow:hidden; }
.pc_footer .area .boxRight h1{ display:block; color:#FFF; border-bottom:1px solid rgba(255,255,255,0.5);font-size:18px; margin-bottom:20px; padding-bottom:5px;}
.pc_footer .area .boxRight h1 .floatright { width:200px; font-size:12px; line-height:30px; text-align:right; color:#999; }
.pc_footer .area .boxRight .text { padding-top:20px; width:130px; float:right; text-align:left; color: #999; overflow:hidden; }
.pc_footer .area .boxRight .text .textArea { margin-bottom:20px; }
.pc_footer .area .boxRight .text .textArea p{ display:block; line-height:15px; font-size:12px; line-height:18px; color:#999; -webkit-transition: color 0.5s; transition: color 0.5s; }
.pc_footer .area .boxRight .text .textArea .request { display:block; font-size:20px; width:100%; height:40px; line-height:40px; text-align:center; background: #027de5; color:#FFF; border-radius:5px; }
.pc_footer .area .boxRight .map { width:300px; height:350px; border-radius: 15px; overflow:hidden; }
.pc_footer .area .boxRight .map #user_gmap { width:300px; height:350px; border-radius: 15px; overflow:hidden; }

.pc_footer .footerBottom{ width:100%; height:30px; line-height:30px; letter-spacing:5px; text-align:center; color:#999; background-color: rgba(80,80,80, 1); border-top:1px solid rgba(130,130,130,1); }
.pc_footer .footerBottom a { color:#FFF; }
.phone_footer{display:none;}

@media screen and (max-width: 700px){
	.logoStart{display:none;}
	.picLoading{display:none;} 
	.logoFixed {display:none;}
	.pc_footer {display:none;}
	.contactFormHover{display:none;}
	
	.phone_footer{display:block;width:100%;padding:20px 0px 0px 0px; background:url(../img/footerBg.jpg);color:#999;position:relative; z-index:9999;letter-spacing:1px; font-size:12px;overflow:hidden;}
	.phone_footer .content{width:300px;margin:0px auto 0px auto;margin-bottom:25px;overflow:hidden;}
	.phone_footer .content h1{font-size:16px; padding-bottom:5px;letter-spacing:2px;}
	.phone_footer .content .p{ margin-bottom:5px;}
	.phone_footer .content p{letter-spacing:1px;}
	.phone_footer .Design_By{width:100%;text-align:center;border-top:1px solid rgba(130,130,130,1);background-color: rgba(80,80,80, 1); color:#999;padding:10px 0px;}
	.phone_footer .Design_By a { color:#d4d4d4; }
	
	.index_topHeader{display:none;}
	body.start .index_topHeader { display:none;animation:none; }

	.phone_topHeader{display:block;width:100%;background-color:rgba(0,0,0,1);height:60px;position:fixed;z-index:99999;}
	.phone_topHeader a{display:block;}
	.phone_topHeader .logo_box{width:140px; margin-left:18px; margin-top:13px;}
	.phone_topHeader .logo_box img{width:100%;}
	.phone_topHeader .navBar{display:none;width:100%;overflow:hidden;position:absolute;top:59px;background-color:rgba(0,0,0,0.9);}
	.phone_topHeader .navBar .box{width:100%;height:60px;border-bottom:1px dashed #555;transition:0.3s;font-size:14px;}
	.phone_topHeader .navBar .box .item{width:200px;margin:0px  0px  0px 22px; overflow:hidden;padding-top:20px;}
	.phone_topHeader .navBar .box:hover{background-color:#000;}
	.phone_topHeader .navBar .box:active{background-color:#000;}
	.phone_topHeader .navBar .box .item p{text-align:center; color:rgba(255,255,255,0.8);letter-spacing:1px;margin-bottom:3px;float:left; margin-right:10px;transition:0.3s;}
	.phone_topHeader .navBar .box:hover p{color:rgba(255,255,255,1);}
	.phone_topHeader .navBar .box:nth-of-type(1) .item span{color:#dd3c7b;}
	.phone_topHeader .navBar .box:nth-of-type(2) .item span{color:#ed8d25;}
	.phone_topHeader .navBar .box:nth-of-type(3) .item span{color:#84ae43;}
	.phone_topHeader .navBar .box:nth-of-type(4) .item span{color:#dd3c7b;}
	.phone_topHeader .navBar .box:nth-of-type(5) .item span{color:#ed8d25;}
	.phone_topHeader .navBar .box:nth-of-type(6) .item span{color:#84ae43;}
	.phone_topHeader .navBar .box:nth-of-type(7) .item span{color:#ed8d25;}
	.phone_topHeader .navBar .box .nav{}
	.phone_topHeader .navBar .box .nav2{font-size:14px;letter-spacing:2px;}
	.phone_topHeader .toggle{position:absolute;right:18px;top:17px;width:28px;height:28px;cursor:pointer;opacity:0.65;transition:0.3s;}
	.phone_topHeader .toggle img{width:100%;}
	.phone_topHeader .toggle.active{opacity:0.65;transform:rotate(90deg);}










}




