/*************************************************Page news***/

body { background-size:cover;  }
p{font-size:14px; letter-spacing:3px;line-height:22px;}
h1{font-size:36px;letter-spacing:3px;line-height:42px;font-weight:500;}
@media screen and (min-width:1400px){
	p{font-size:18px; letter-spacing:4px;line-height:26px;}
	h1{font-size:42px;letter-spacing:3px;line-height:52px;font-weight:500;}
}
.content1{ width:100%;height:1000px; background:url(../../../img/marketing/content1/bg.jpg) 50% 50% fixed; background-size:cover;position:relative;overflow:hidden;}
html.agent-ie .content1{ width:100%;height:1000px; background:url(../../../img/marketing/content1/bg.jpg) 50% 50% ; background-size:cover;position:relative;overflow:hidden;}
.content1 .mobile_bg{display:none;}
@-webkit-keyframes p201507170127{
	0% { opacity:0 ; }
	100% { opacity:1 ;}
}
@keyframes p201507170127{
	0% { opacity:0 ; }
	100% { opacity:1 ;}
}
@-webkit-keyframes p201507170128{
	0% { opacity:0 ; }
	50% { opacity:0 ; }
	100% { opacity:0.5 ;}
}
@keyframes p201507170128{
	0% { opacity:0 ; }
	50% { opacity:0 ; }
	100% { opacity:0.5 ;}
}
.content1 .area{ position:absolute;width:40%;left:50%; margin-left:-20%;top:0px;background-color:rgba(0,0,0,0.8);overflow:hidden;}
.content1 .area .pic1{width:160px;position:absolute;left:50%;top:50%;margin-top:-180px; margin-left:-80px;-webkit-animation: p201507170120 2s;animation: p201507170120 2s; }
.content1 .area .pic1 img{width:100%;}
@-webkit-keyframes p201507170120{
	0% { opacity:0 ; }
	50% { opacity:0 ; }
	100% { opacity:1 ;}
}
@keyframes p201507170120{
	0% { opacity:0 ; }
	50% { opacity:0 ; }
	100% { opacity:1 ;}
}
.content1 .area .text{width:80%; position:absolute;left:50%; margin-left:-40%;top:50%;margin-top:-0px; padding-top:20px;border-top:1px solid rgba(255,255,255,0.3);-webkit-animation: p201507170120 2s;animation: p201507170120 2s;}
.content1 .area .text h2{display:none;text-align:center; color:#fff; margin-bottom:10px;font-size:16px;letter-spacing:4px;font-weight:300;}
.content1 .area .text h2:nth-of-type(1){display:block;-webkit-animation: p201507170120 1s , p201507170119 1.5s;animation:p201507170120 1 , p201507170119 1.5s;}
.content1 .area .text h2:nth-of-type(2){display:block;-webkit-animation:p201507170120 1s , p201507170119 2s;animation:p201507170120 1 , p201507170119 2s;}
.content1 .area .text h2:nth-of-type(3){display:block;-webkit-animation:p201507170120 1s , p201507170119 2.5s;animation:p201507170120 1 , p201507170119 2.5s;}
@-webkit-keyframes p201507170119{
	0% { opacity:0 ; -webkit-transform:translate(0px , 20px);}
	50% { opacity:0 ;-webkit-transform:translate(0px , 20px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes p201507170119{
	0% { opacity:0 ; transform:translate(0px , 20px);}
	50% { opacity:0 ;transform:translate(0px , 20px);}
	100% { opacity:1 ;transform:translate(0px , 0px);}
}
.content1  .arrow{width:60px;height:90px;position:absolute;left:50%;margin-left:-30px;overflow:hidden;z-index:9;animation:p201507170120 4.3s , arrow2 3s  infinite;-webkit-animation:p201507170120 4.3s , arrow2  3s  infinite;bottom:60px; }
.content1  .arrow img{width:100%;margin-top:10px;}
@-webkit-keyframes arrow2 {
	0%{ -webkit-transform: translate(0px,0px) ;}
	50%{ -webkit-transform:translate(0px,-20px) ; }
	100%{-webkit-transform: translate(0px,0px) ;}
}
@keyframes arrow2 {
	0%{transform:  translate(0px,0px) ;  }
	50%{ transform:  translate(0px,-20px) ; }
	100%{transform:  translate(0px,0px) ;  }
}
@media screen and (min-width:1400px){
	.content1{height:1280px;}
	html.agent-ie .content1{ width:100%;height:1280px; }
	.content1 .area{ position:absolute;width:50%;left:50%; margin-left:-25%; }
	.content1 .area .text{width:80%; position:absolute;left:50%; margin-left:-40%;top:50%;margin-top:-50px; padding-top:35px; }
	.content1 .area .text h2{margin-bottom:20px;font-size:28px;letter-spacing:8px;}
	.content1 .area .pic1{width:180px;margin-top:-280px;margin-left:-95px;}
	.content1  .arrow{width:80px;height:120px;display:block;position:absolute;left:50%;margin-left:-40px;overflow:hidden;}	
}
@media screen and ( max-width:1024px ) and (min-width: 550px) {
	.content1{height:1000px;}
	html.agent-ie .content1{height:1000px;}
	.content1 .area{  position:absolute;width:60%;left:50%; margin-left:-30%;overflow:hidden; }
	.content1  .arrow{}
}
@media screen and (max-width: 550px){
	.content1 {background:url(../../../img/marketing/content1/bg.jpg) 50% 50% scroll; }
	.content1 .area{position:absolute;width:100%;left:0px; margin-left:0px;top:50%;margin-top:-170px;}
	.content1 .area .pic1{width:100px;position:absolute;left:56.5%;top:50%;margin-top:-155px; margin-left:-75px;/*-webkit-animation:none;animation:none;*/}
	.content1 .area .text{width:80%; left:50%; margin-left:-40%;top:50%;margin-top:0%; padding-top:10px;/*-webkit-animation:none;animation:none;*/}
	.content1 .area .text h2{display:block;margin-bottom:10px;font-size:14px;letter-spacing:2px;}
	/*.content1 .area .text h2:nth-of-type(1){display:block;-webkit-animation:none;animation:none;}
	.content1 .area .text h2:nth-of-type(2){display:block;-webkit-animation:none;animation:none;}
	.content1 .area .text h2:nth-of-type(3){display:block;-webkit-animation:none;animation:none;}*/

	.content1 .arrow{width:60px;height:45px;display:block;position:absolute;left:50%;top:50%;margin-left:-35px;margin-top:125px;overflow:hidden;animation:none;-webkit-animation:none;}
	.content1 .arrow img{width:60px;margin-top:-40px;}

}

/****************** *content2***********************************************/

.content2{ width:100%;height:650px; background:#fff;overflow:hidden; }
.content2 .area { width:100%;height:650px;position:relative;}
.content2 .area .text_arae{ width:600px;position:absolute;left:50%;top:50%;margin-left:-450px; margin-top:-200px;color:#595757;z-index:6;}
.content2 .area .text_arae .title{display:none;width:600px; margin-bottom:25px;}
.content2 .area .text_arae .text{display:none;width:400px; margin-bottom:20px;}
.content2 .area .text_arae .text.short{width:335px; }
.content2 .area .text_arae .text p{}
.content2.hover .area .text_arae .title{ display:block;-webkit-animation:p201507210205 1s;animation: p201507210205 1s;}
.content2.hover .area .text_arae .text{display:block;-webkit-animation:p201507210205 1.5s;animation: p201507210205 1.5s;}
@-webkit-keyframes p201507210205{
	0% { opacity:0 ; -webkit-transform:translate(20px , 0px);}
	50% { opacity:0 ;-webkit-transform:translate(20px , 0px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes p201507210205{
	0% { opacity:0 ; transform:translate(20px , 0px);}
	50% { opacity:0 ;transform:translate(20px , 0px);}
	100% { opacity:1 ;transform:translate(0px , 0px);}
}

.content2 .area .bg{display:block;width:800px;position:absolute;right:0px;opacity:1;bottom:0px;}
.content2 .area .bg img{display:none;width:100%;position:absolute; left:0px; bottom:0px;}
.content2.hover .area .bg .one{display:block;-webkit-animation:p201508121121 3s;animation: p201508121121 3s;}
.content2.hover .area .bg .two{display:block;-webkit-animation:p201508121121 2.5s;animation: p201508121121 2.5s;}
.content2.hover .area .bg .three{display:block;-webkit-animation:text_three 1s;animation: text_three 1s;}
.content2.hover .area .bg .four{display:block;-webkit-animation:text_four 1s;animation: text_four 1s;}
.content2.hover .area .bg .five{display:block;-webkit-animation:text_three 1.2s;animation: text_three 1.2s;}
.content2.hover .area .bg .six{display:block;-webkit-animation:text_four 1.2s;animation: text_four 1.2s;}
.content2.hover .area .bg .seven{display:block;-webkit-animation:text_seven 1.4s;animation: text_seven 1.4s;}
.content2.hover .area .bg .eight{display:block;-webkit-animation:text_three 1.4s;animation: text_three 1.4s;}
.content2.hover .area .bg .nine{display:block;-webkit-animation:text_seven 1.6s;animation: text_seven 1.6s;}
.content2.hover .area .bg .ten{display:block;-webkit-animation:text_four 1.8s;animation: text_four 1.8s;}
.content2.hover .area .bg .eleven{display:block;-webkit-animation:text_three 1.8s;animation: text_three 1.8s;}
.content2.hover .area .bg .twelve{display:block;-webkit-animation:text_seven 2s;animation: text_seven 2s;}
.content2.hover .area .bg .thirteen{display:block;-webkit-animation:text_seven 2.3s;animation: text_seven 2.3s;}
@-webkit-keyframes text_three{
	0% { opacity:0 ; -webkit-transform:translate(-50px , 0px);}
	25% { opacity:0 ; -webkit-transform:translate(-50px , 0px);}
	50% { opacity:0 ;-webkit-transform:translate(-50px , 0px);}
	75% { opacity:0 ;-webkit-transform:translate(-50px , 0px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes text_three{
	0% { opacity:0 ; transform:translate(-50px , 0px);}
	25% { opacity:0 ; transform:translate(-50px , 0px);}
	50% { opacity:0 ;transform:translate(-50px , 0px);}
	75% { opacity:0 ;transform:translate(-50px , 0px);}
	100% { opacity:1 ;transform:translate(0px , 0px);}
}
@-webkit-keyframes text_four{
	0% { opacity:0 ; -webkit-transform:translate(50px , 0px);}
	25% { opacity:0 ; -webkit-transform:translate(50px , 0px);}
	50% { opacity:0 ;-webkit-transform:translate(50px , 0px);}
	75%{ opacity:0 ;-webkit-transform:translate(50px , 0px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes text_four{
	0% { opacity:0 ; transform:translate(50px , 0px);}
	25% { opacity:0 ;transform:translate(50px , 0px);}
	50% { opacity:0 ;transform:translate(50px , 0px);}
	75%{ opacity:0 ;transform:translate(50px , 0px);}
	100% { opacity:1 ;transform:translate(0px , 0px);}
}
@-webkit-keyframes text_seven{
	0% { opacity:0 ; -webkit-transform:translate(0px , -50px);}
	25{ opacity:0 ; -webkit-transform:translate(0px , -50px);}
	50% { opacity:0 ;-webkit-transform:translate(0px , -50px);}
	75%{ opacity:0 ;-webkit-transform:translate(0px , -50px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes text_seven{
	0% { opacity:0 ; transform:translate(0px , -50px);}
	25{ opacity:0 ; transform:translate(0px , -50px);}
	50% { opacity:0 ;transform:translate(0px , -50px);}
	75%{ opacity:0 ;transform:translate(0px , -50px);}
	100% { opacity:1 ;transform:translate(0px , 0px);}
}
@-webkit-keyframes p201508121121{
	0% { opacity:0 ; -webkit-transform:translate(0px , 0px);}
	50% { opacity:0 ;-webkit-transform:translate(0px , 0px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes p201508121121{
	0% { opacity:0 ; transform:translate(0px , 0px);}
	50% { opacity:0 ;transform:translate(0px , 0px);}
	100% { opacity:1 ;transform:translate(0px , 0px);}
}

.content2 .phone_area{display:none;}

@media screen and (min-width:1400px){
	.content2{height:800px;}
	.content2 .area{ width:100%;height:800px;position:relative; }
	.content2 .area .text_arae{ width:750px;position:absolute;margin-left:-560px;margin-top:-14%;}
	.content2 .area .text_arae .title{width:750px; margin-bottom:25px;}
	.content2 .area .text_arae .text{width:500px; }
	.content2 .area .bg{width:1000px;}
	
}
@media screen and ( max-width:1365px ) and (min-width: 960px) {

	.content2 .area .text_arae{  width:600px;position:absolute;left:50%;top:50%;margin-left:-400px; margin-top:-200px;color:#595757;}
	.content2 .area .bg{width:660px;position:absolute;right:0px;opacity:1;bottom:0px;}

}
@media screen and ( max-width:960px ) and (min-width: 500px) {

	.content2 .area .text_arae{width:600px;position:absolute;left:50%;top:50%;margin-left:-300px; margin-top:-280px;color:#595757;}
	.content2 .area .bg{width:500px;position:absolute;right:0px;opacity:1;bottom:0px;}
	
}
@media screen and (max-width: 500px){
	.content2{width:100%;height:820px;}
	.content2 .area{display:none;height:820px;}
	.content2 .phone_area{display:block;width:100%;height:870px;margin:0 auto;position:relative;}
	.content2 .phone_area .text_arae{display:block;width:275px;position:absolute;left:50%; margin-left:-135px; margin-top:40px;color:#595757;}
	.content2 .phone_area .text_arae h1{font-size:30px;}
	.content2 .phone_area .text_arae p{margin-bottom:15px;}
	.content2 .phone_area .text_arae .title{margin-bottom:20px;}
	.content2 .phone_area .bg{width:500px;position:absolute;right:0px;bottom:0px;}
	.content2 .phone_area .bg img{width:100%;}
}

/*********************content3*********************************************/
.content3{ width:100%; height:795px;background:url(../../../img/marketing/content3/bg.png) center left fixed; background-size:cover;}
html.agent-ie .content3{ width:100%; height:795px;background:url(../../../img/marketing/content3/bg.png) center left ; background-size:cover;}
.content3 .area{width:46%;height:795px;position:absolute;left:0px;background-color:#5973a6;}
.content3 .area .title_box{width:410px; margin:50px auto 20px  auto; position:relative;}
.content3 .area .title_box img{display:block;width:84px;float:left;position:absolute;top:-60px; left:5px;}
.content3 .area .title_box .right_text{display:block;float:right;width:315px;margin-top:40px; margin-bottom:30px;}
.content3 .area .title_box .right_text h1{color:#fff; }
.content3 .area .title_box p{clear:both;color:#fff;}

.content3  .item_area{width:410px;margin:45px auto;position:relative;}
.content3  .item_area .line_box1{opacity:0;width:8px;height:22px;position:absolute;top:105px;left:60px;overflow:hidden;}
.content3  .item_area .line_box1 img{width:8px;}
.content3  .item_area .line_box2{opacity:0;width:8px;height:55px;position:absolute;top:235px;left:60px;transform:scaleX(-1);-webkit-transform:scaleX(-1);overflow:hidden;}
.content3  .item_area .line_box2 img{width:8px;}
.content3  .item_area .line_box3{width:830px;position:absolute;top:355px;left:50%;margin-left:-150px;overflow:hidden;transition:0.1s;-webkit-transition:0.1s;z-index:66;}
.content3  .item_area .line_box3 img{width:100%;}
.content3  .item_area .item_box{opacity:1;width:100%;margin:30px auto;overflow:hidden;}
.content3  .item_area .item_box .pic_box{opacity:0;width:100px;float:left; margin-left:10px;}
.content3  .item_area .item_box .pic_box img{width:100%;}
.content3  .item_area .item_box .text_box{opacity:0;float:right;width:280px;}
.content3  .item_area .item_box .text_box img{width:220px; margin-bottom:0px;}
.content3  .item_area .item_box .text_box p{display:block;color:#fff;}
.content3.hover .item_area .item_box.one .pic_box{opacity:1;-webkit-animation:item_box 1s;animation: item_box 1s;}
.content3.hover .item_area .item_box.one .text_box{opacity:1;-webkit-animation:line_short 1s;animation: line_short 1s;}
.content3.hover .item_area .item_box.two .pic_box{opacity:1;-webkit-animation:item_box 1.2s;animation: item_box 1.2s;}
.content3.hover .item_area .item_box.two .text_box{opacity:1;-webkit-animation:line_short 1.2s;animation: line_short 1.2s;}
.content3.hover .item_area .item_box.three .pic_box{opacity:1;-webkit-animation:item_box 1.4s;animation: item_box 1.4s;}
.content3.hover .item_area .item_box.three .text_box{opacity:1;-webkit-animation:line_short 1.4s;animation: line_short 1.4s;}
.content3.hover .item_area .line_box1{opacity:1;-webkit-animation:line_short 1.1s;animation: line_short 1.1s;}
.content3.hover .item_area .line_box2{opacity:1;-webkit-animation:line_short 1.3s;animation: line_short 1.3s;}
@-webkit-keyframes line_short{
	0% { opacity:0 ; }
	25% { opacity:0 ;}
	50% { opacity:0 ;}
	75% { opacity:0 ;}
	100% { opacity:1 ;}
}
@keyframes line_short{
	0% { opacity:0 ;}
	25% { opacity:0 ;}
	50% { opacity:0 ;}
	75% { opacity:0 ;}
	100% { opacity:1 ;}
}

@-webkit-keyframes item_box{
	0% { opacity:0 ; -webkit-transform:translate(-50px , 0px);}
	25% { opacity:0 ; -webkit-transform:translate(-50px , 0px);}
	50% { opacity:0 ;-webkit-transform:translate(-50px , 0px);}
	75% { opacity:0 ;-webkit-transform:translate(-50px , 0px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes item_box{
	0% { opacity:0 ; transform:scale(0);}
	25% { opacity:0 ; transform:scale(0);}
	50% { opacity:0 ;transform:scale(0);}
	75% { opacity:0 ;transform:scale(0);}
	100% { opacity:1 ;transform:scale(1);}
}


@media screen and (min-width:1400px){
	.content3{ width:100%;height:1070px;}
	html.agent-ie .content3{ width:100%; height:1070px;}
	.content3 .area{height:1070px;}
	.content3 .area .title_box{width:550px; margin:50px auto 20px  auto; position:relative;}
	.content3 .area .title_box img{display:block;width:104px;float:left;position:absolute;top:-60px; left:5px;}
	.content3 .area .title_box .right_text{display:block;float:right;width:415px;margin-top:40px; margin-bottom:70px;}
	
	.content3  .item_area{width:550px;}
	.content3  .item_area .line_box1{width:12px;height:50px;position:absolute;top:140px;left:73px;overflow:hidden;}
	.content3  .item_area .line_box1 img{width:12px;}
	.content3 .item_area .line_box2{width:12px;height:50px;position:absolute;top:340px;left:73px;transform:scaleX(-1);-webkit-transform:scaleX(-1);overflow:hidden; }
	.content3  .item_area .line_box2 img{width:12px;}
	.content3  .item_area .line_box3{width:1050px;position:absolute;top:520px;left:50%;margin-left:-200px;}
	.content3  .item_area .item_box{width:100%;margin:50px auto;overflow:hidden; }
	.content3  .item_area .item_box .pic_box{width:140px;}
	.content3  .item_area .item_box .text_box{width:360px;}
	.content3  .item_area .item_box .text_box img{width:300px;}
		
}
@media screen and ( max-width:1024px ) and (min-width: 570px) {
	.content3{ width:100%; }
	.content3 .area{width:80%;position:absolute;left:0px;background-color:#5973a6;}
	
}
@media screen and (max-width: 570px){
	.content3  {height:760px;padding-bottom:0px;background-color:#5973a6; }
	html.agent-ie .content3{ width:100%; height:760px;}
	.content3 .area{display:block;width:100%;background-color:#5973a6;padding-bottom:50px;height:750px; }
	.content3 .area .title_box{width:320px; margin:30px auto 40px  auto; position:relative;overflow:hidden;}
	.content3 .area .title_box img{display:block;width:70px; height:205px;float:left;position:relative;top:0px;left:0px;}
	.content3 .area .title_box .right_text{display:block;float:left;width:220px;margin-top:0px; margin-bottom:0px; margin-left:15px;}
	.content3 .area .title_box .right_text h1{color:#fff;letter-spacing:1px; font-size:30px; }
	.content3 .area .title_box p{clear:none;float:left;color:#fff;width:215px; font-size:11px; line-height:140%; padding-left:17px;}
	.content3 .area .item_area{width:310px;margin:10px auto; left:50%; margin-left:-160px;}
	.content3 .area .item_area p{font-size:11px;}
	.content3 .area .item_area .line_box1{opacity:1;width:6px;height:30px;top:110px;left:53px;}
	.content3 .area .item_area .line_box1 img{width:6px;}
	.content3 .area .item_area .line_box2{opacity:1;width:6px;height:62px;top:253px;left:53px; }
	.content3 .area .item_area .line_box2 img{width:6px;}
	.content3 .area .item_area .line_box3{display:none;}
	.content3 .area .item_area .item_box{opacity:1;width:100%;margin:20px auto;overflow:hidden; }
	.content3 .area .item_area .item_box .pic_box{opacity:1;width:100px;float:left;margin-left:10px; margin-right:10px;margin-top:8px;}
	.content3 .area .item_area .item_box .text_box{opacity:1;float:right;width:190px;}
	.content3 .area .item_area .item_box .text_box img{width:190px; margin-bottom:0px; }
}

/********************content4*******************************************/

.content4{ width:100%; height:1200px; background:url(../../../img/marketing/content4/bg.png) 50% 50% fixed;background-size:cover; overflow:hidden;}
html.agent-ie .content4{ width:100%; height:1200px; background:url(../../../img/marketing/content4/bg.png) 50% 50% fixed;background-size:cover; overflow:hidden;}
.content4 .area{width:100%;height:1200px; margin:0px auto;position:relative;overflow:hidden; }
.content4 .area img{width:100%;}
.content4 .area p{color:#595757;display:block;}
.content4 .area div{position:absolute;left:50%;}
.content4 .area .hover_area01{width:100%;position:absolute;left:0px;top:300px;height:600px;margin-top:-300px;overflow:hidden;}
.content4 .area .hover_area02{width:100%;position:absolute;left:0px;height:600px;bottom:0px;}
.content4 .area .window01{width:500px;margin-left:-430px;top:150px;z-index:18;}
.content4 .area .window02{display:none;width:500px;top:auto;bottom:-10px;margin-left:-80px;z-index:18;}
.content4 .area .start01{width:63px;margin-left:-530px;margin-top:500px;}
.content4 .area .start02{width:43px;margin-left:100px;margin-top:130px;}
.content4 .area .pic01{width:132px;top:20%;margin-left:-550px;margin-top:-80px;}
.content4 .area .hand{width:190px;top:auto;left:0px;bottom:190px;}
.content4 .area .line{width:700px;left:50%;top:50%;margin-left:-380px;margin-top:-80px;overflow:hidden;transition:0.1s;-webkit-transition:0.1s;z-index:9;}
.content4 .area .text_area {width:300px; }
.content4 .area .text_area  h1{margin-bottom:10px;}
.content4 .area .text_area  img{margin-top:20px; margin-left:-10px;}
.content4 .area .text_area.one{display:none;top:250px;margin-left:120px;top:250px;}
.content4 .area .text_area.two{display:none;margin-left:-390px;margin-top:250px;}
.content4 .area .dialog_box{overflow:hidden;z-index:10;}
.content4 .area .dialog_box .number{text-align:center;}
.content4 .area .dialog_box .number h3{font-size:14px;}
.content4 .area .dialog_box .number h3 span{font-size:42px;margin-right:5px;font-style:italic;color:#47639c;font-weight:600; }
.content4 .area .dialog_box .number p{font-size:12px; margin-top:-10px;}
.content4 .area .dialog_box.one{width:206px;margin-left:360px;top:60px;}
.content4 .area .dialog_box.one .number{left:auto;top:auto;left:20px;top:25px;}
.content4 .area .dialog_box.two{width:460px;margin-left:90px;margin-top:30px;}
.content4 .area .dialog_box.two .number{left:auto;top:auto;left:20px;top:85px;}
.content4 .area .dialog_box.three{width:340px;margin-left:-290px;margin-top:70px;}
.content4 .area .dialog_box.three .number{left:auto%;top:auto;left:25px;top:35px;}

.content4  .hover_area01.hover .window01{-webkit-animation:border 1.2s;animation: border 1.2s;}
.content4  .hover_area01 .window01:hover{-webkit-animation:border2 1.2s;animation: border2 1.2s;}
.content4  .hover_area02.hover .window02{display:block;-webkit-animation:text_area 1.6s;animation: text_area 1.6s;}

@-webkit-keyframes border{
	0% { opacity:1 ; -webkit-transform:scaleX(1) scaleY(1) rotate(0deg);}
	25% { opacity:1 ; -webkit-transform:scaleX(1) scaleY(1) rotate(-15deg);}
	50% { opacity:1; -webkit-transform:scaleX(0.8) scaleY(1.05) rotate(15deg);}
	65% { opacity:1; -webkit-transform:scaleX(1) scaleY(1) rotate(-15deg);}
	100% { opacity:1 ;-webkit-transform:scaleX(1) scaleY(1) rotate(0deg);}
}
@keyframes border{
	0% { opacity:1 ; transform:scaleX(1) scaleY(1) rotate(0deg);}
	25% { opacity:1 ; transform:scaleX(1) scaleY(1) rotate(-15deg);}
	50% { opacity:1;transform:scaleX(0.8) scaleY(1.05) rotate(15deg);}
	65% { opacity:1;transform:scaleX(1) scaleY(1) rotate(-15deg);}
	100% { opacity:1 ;transform:scaleX(1) scaleY(1) rotate(0deg);}
}
@-webkit-keyframes border2{
	0% { opacity:1 ; -webkit-transform:scaleX(1) scaleY(1) rotate(0deg);}
	25% { opacity:1 ; -webkit-transform:scaleX(1) scaleY(1) rotate(-15deg);}
	50% { opacity:1; -webkit-transform:scaleX(0.8) scaleY(1.05) rotate(15deg);}
	65% { opacity:1; -webkit-transform:scaleX(1) scaleY(1) rotate(-15deg);}
	100% { opacity:1 ;-webkit-transform:scaleX(1) scaleY(1) rotate(0deg);}
}
@keyframes border2{
	0% { opacity:1 ; transform:scaleX(1) scaleY(1) rotate(0deg);}
	25% { opacity:1 ; transform:scaleX(1) scaleY(1) rotate(-15deg);}
	50% { opacity:1;transform:scaleX(0.8) scaleY(1.05) rotate(15deg);}
	65% { opacity:1;transform:scaleX(1) scaleY(1) rotate(-15deg);}
	100% { opacity:1 ;transform:scaleX(1) scaleY(1) rotate(0deg);}
}
.content4  .hover_area01.hover  .text_area.one{display:block;-webkit-animation:text_area 1s;animation: text_area 1s;}
@-webkit-keyframes text_area{
	0% { opacity:0 ; -webkit-transform:translate(50px , 0px);}
	50% { opacity:0 ;-webkit-transform:translate(50px , 0px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes text_area{
	0% { opacity:0 ; transform:translate(50px , 0px);}
	50% { opacity:0 ;transform:translate(50px , 0px);}
	100% { opacity:1 ;transform:translate(0px , 0px);}
}
.content4  .hover_area02.hover  .text_area.two{display:block;-webkit-animation:text_area2 1.2s;animation: text_area2 1.2s;}
@-webkit-keyframes text_area2{
	0% { opacity:0 ; -webkit-transform:translate(-50px , 0px);}
	50% { opacity:0 ;-webkit-transform:translate(-50px , 0px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes text_area2{
	0% { opacity:0 ; transform:translate(-50px , 0px);}
	50% { opacity:0 ;transform:translate(-50px , 0px);}
	100% { opacity:1 ;transform:translate(0px , 0px);}
}

.content4 .phone_area{display:none;}

@media screen and (min-width:1400px){
	.content4{ width:100%; height:1400px;overflow:hidden;  }
	html.agent-ie .content4{ width:100%; height:1400px;}
    .content4 .area{width:100%;height:1400px; margin:0px auto;position:relative; }
	.content4 .area .hover_area01{height:700px;}
	.content4 .area .hover_area02{height:700px;}
	.content4 .area .window01{width:600px;margin-left:-580px;margin-top:50px;}
	.content4 .area .window02{width:600px;top:auto;bottom:-2px;margin-left:-170px;}
	.content4 .area .start01{width:83px;margin-left:-700px;}
	.content4 .area .start02{width:53px;margin-left:90px;margin-top:150px;}
	.content4 .area .pic01{width:182px;top:20%;margin-left:-780px;}
	.content4 .area .hand{width:230px;top:auto;left:0px;bottom:190px;}
	.content4 .area .line{width:800px;margin-left:-530px;margin-top:-70px;}
	.content4 .area .text_area {width:350px; }
	.content4 .area .text_area  h1{margin-bottom:10px;}
	.content4 .area .text_area  img{margin-top:20px; margin-left:-10px;}
	.content4 .area .text_area.one{top:250px;margin-left:60px;margin-top:100px;}
	.content4 .area .text_area.two{bottom:120px;margin-left:-550px;margin-top:320px;}
	.content4 .area .dialog_box{overflow:hidden;}
	.content4 .area .dialog_box .number{text-align:center;}
	.content4 .area .dialog_box .number h3{font-size:18px;}
	.content4 .area .dialog_box .number h3 span{font-size:52px;margin-right:5px;font-style:italic;color:#47639c;font-weight:600;}
	.content4 .area .dialog_box .number p{font-size:14px; margin-top:-5px;}
	.content4 .area .dialog_box.one{width:256px;margin-left:400px;margin-top:160px;}
	.content4 .area .dialog_box.one .number{left:auto;top:auto;left:25px;top:25px;}
	.content4 .area .dialog_box.two{width:510px;margin-left:160px;margin-top:0px;}
	.content4 .area .dialog_box.two .number{left:auto;top:auto;left:20px;top:80px;}
	.content4 .area .dialog_box.three{width:390px;margin-left:-420px;margin-top:100px;}
	.content4 .area .dialog_box.three .number{left:auto%;top:auto;left:25px;top:30px;}	
}
@media screen and ( max-width:1024px ) and (min-width: 960px) {
	.content4{ width:100%;}
	.content4 .area .window01{width:450px;}
	.content4 .area .window02{width:450px;margin-left:-50px;}
	.content4 .area .start01{width:53px;margin-left:-480px;margin-top:-100px;}
	.content4 .area .start02{width:33px;margin-left:50px;margin-top:-450px;}
	.content4 .area .pic01{width:132px;top:20%;margin-left:-450px;}
	.content4 .area .hand{width:130px;}
	.content4 .area .line{margin-left:-430px;margin-top:-100px;}
	.content4 .area .text_area.one{top:250px;margin-left:50px;margin-top:30px;}
	.content4 .area .text_area.two{bottom:120px;margin-left:-360px;margin-top:250px;}
	.content4 .area .dialog_box{overflow:hidden;}
	.content4 .area .dialog_box.one{width:206px;margin-left:230px;margin-top:40px;}
	.content4 .area .dialog_box.two{width:460px;margin-left:-10px;margin-top:0px;}
	.content4 .area .dialog_box.three{width:340px;margin-left:-370px;margin-top:50px;}
	
}
@media screen and ( max-width:959px ) and (min-width: 500px) {
	.content4{ width:100%;height:1250px;}
	html.agent-ie .content4{ width:100%; height:1250px; }
	.content4 .area .hover_area01{width:100%;position:absolute;left:0px;top:300px;height:625px;}
	.content4 .area .hover_area02{width:100%;position:absolute;left:0px;height:625px;}
	.content4 .area{width:100%;height:1250px;}
	.content4 .area .window01{width:450px;margin-left:-490px;}
	.content4 .area .window02{width:400px;margin-left:50px;}
	.content4 .area .start01{width:43px;margin-left:-330px;margin-top:540px;}
	.content4 .area .start02{width:33px;margin-left:50px;}
	.content4 .area .pic01{width:132px;top:20%;margin-left:-350px;margin-top:-210px;}
	.content4 .area .hand{display:none;}
	.content4 .area .line{width:550px;margin-left:-150px;margin-top:-50px;-webkit-transform:scaleX(-1) rotate(-30deg);transform:scaleX(-1) rotate(-30deg);}
	.content4 .area .text_area.one{top:250px;margin-left:0px;margin-top:80px;}
	.content4 .area .text_area.two{bottom:40px;margin-left:-300px;}
	.content4 .area .dialog_box{overflow:hidden;}
	.content4 .area .dialog_box.one{width:206px;margin-left:140px;top:140px;}
	.content4 .area .dialog_box.two{width:450px;margin-left:-330px;margin-top:100px;}
	.content4 .area .dialog_box.three{width:330px;margin-left:-250px;margin-top:-50px;}

}
@media screen and (max-width: 500px){
	.content4{display:block;height:1700px;}
	html.agent-ie .content4{ width:100%; height:1700px; }
	.content4 .area{display:none;}
	.content4 .phone_area{display:block;width:100%;height:1700px; margin:0px auto;position:relative;}
	.content4 .phone_area img{width:100%;}
	.content4 .phone_area p{color:#595757;display:block;}
	.content4 .phone_area div{position:absolute;left:50%;}
	.content4 .phone_area .dialog_box01{width:200px;margin-left:-170px; top:100px;}
	.content4 .phone_area .dialog_box02{width:260px;margin-left:-90px;top:780px;}
	.content4 .phone_area .dialog_box03{width:280px;margin-left:-170px;top:1030px;}
	.content4 .phone_area .line01{width:330px; margin-left:-100px;top:1px;}
	.content4 .phone_area .line02{width:330px; margin-left:-150px;top:750px;}
	.content4 .phone_area .window01{width:250px;margin-left:-280px;top:400px;}
	.content4 .phone_area .window02{width:230px;margin-left:-150px;top:1330px;}
	.content4 .phone_area .text_box01{width:155px;margin-left:-10px;top:430px;}
	.content4 .phone_area .text_box01 h1{font-size:30px;}
	.content4 .phone_area .text_box02{width:220px;margin-left:-140px;top:1190px;}
	.content4 .phone_area .pic01{width:340px;margin-left:-150px;top:630px;}
	.content4 .phone_area .pic01 img{width:90%;}
	.content4 .phone_area .pic02{width:340px;margin-left:-150px;bottom:60px;}
	.content4 .phone_area .pic02 img{width:90%;}
	.content4 .phone_area .hand{width:200px;margin-left:70px;top:1250px;}
	
}

/****************.content5********************************************/

.content5{ width:100%; height:800px; background:url(../../../img/marketing/content5/bg.png) center left fixed; background-size:cover; }
html.agent-ie .content5{ width:100%; height:800px; background:url(../../../img/marketing/content5/bg.png) center left ; background-size:cover; }
.content5 .area{width:680px;height:800px;position:absolute;right:0px;background-color:#1e834c;}
.content5 .area .title_box{width:550px; margin:50px auto 60px  auto; position:relative;}
.content5 .area .title_box img{display:block;width:210px;height:276px;float:right;position:absolute;top:-52px; right:0px;}
.content5 .area .title_box .pc_title{display:block;}
.content5 .area .title_box .phone_title{display:none;}
.content5 .area .title_box .right_text{display:block;float:left;width:315px;margin-top:5px; margin-bottom:10px;}
.content5 .area .title_box .right_text h1{color:#fff; }
.content5 .area .title_box p{clear:both;color:#fff;width:350px;display:block;}
.content5 .area .item_area{width:480px;margin:40px auto;position:absolute; top:240px; left:50%; margin-left:-225px;}
.content5 .area .item_area .line_box1{opacity:0;width:8px;height:20px;position:absolute;top:137px;left:60px;overflow:hidden;}
.content5 .area .item_area .line_box1 img{width:8px;}
.content5 .area .item_area .line_box2{opacity:0;width:8px;height:21px;position:absolute;top:275px;left:60px;transform:scaleX(-1);-webkit-transform:scaleX(-1);overflow:hidden; }
.content5 .area .item_area .line_box2 img{width:8px;}
.content5 .area .item_area .line_box3{width:848px;position:absolute;top:427px;left:50%;margin-left:-822px;overflow:hidden;transition:0.1s;-webkit-transition:0.1s;}
.content5 .area .item_area .line_box3 img{width:100%;}
.content5 .area .item_area .item_box{width:100%;margin:30px auto;overflow:hidden; }
.content5 .area .item_area .item_box .pic_box{opacity:0;width:100px;float:left; margin-left:10px;}
.content5 .area .item_area .item_box .pic_box img{width:100%;}
.content5 .area .item_area .item_box .text_box{opacity:0;float:right;width:330px;}
.content5 .area .item_area .item_box .text_box img{width:220px; margin-bottom:0px;}
.content5 .area .item_area .item_box .text_box p{color:#fff; font-size:12px;}
.content5.hover .item_area .item_box.one .pic_box{opacity:1;-webkit-animation:item_box 1s;animation: item_box 1s;}
.content5.hover .item_area .item_box.one .text_box{opacity:1;-webkit-animation:line_short 1s;animation: line_short 1s;}
.content5.hover .item_area .item_box.two .pic_box{opacity:1;-webkit-animation:item_box 1.2s;animation: item_box 1.2s;}
.content5.hover .item_area .item_box.two .text_box{opacity:1;-webkit-animation:line_short 1.2s;animation: line_short 1.2s;}
.content5.hover .item_area .item_box.three .pic_box{opacity:1;-webkit-animation:item_box 1.4s;animation: item_box 1.4s;}
.content5.hover .item_area .item_box.three .text_box{opacity:1;-webkit-animation:line_short 1.4s;animation: line_short 1.4s;}
.content5.hover .item_area .line_box1{opacity:1;-webkit-animation:line_short 1.1s;animation: line_short 1.1s;}
.content5.hover .item_area .line_box2{opacity:1;-webkit-animation:line_short 1.3s;animation: line_short 1.3s;}

@media screen and (min-width:1400px){
	.content5{ width:100%;height:1000px;}
	html.agent-ie .content5{ width:100%; height:1000px; }
	.content5 .area{width:1000px;height:1000px;}
	.content5 .area .title_box{width:590px;}
	.content5 .area .title_box img{display:block;width:220px;height:306px;top:-51px; right:-10px;}
	.content5 .area .title_box .right_text{width:350px;}
	.content5 .area .title_box p{width:350px;}
	.content5 .area .item_area{width:550px; margin-left:-300px;}
	.content5 .area .item_area .line_box1{width:12px;height:50px;position:absolute;top:190px;left:73px;overflow:hidden;}
	.content5 .area .item_area .line_box1 img{width:12px;}
	.content5 .area .item_area .line_box2{width:12px;height:50px;position:absolute;top:390px;left:73px;transform:scaleX(-1);-webkit-transform:scaleX(-1);overflow:hidden; }
	.content5 .area .item_area .line_box2 img{width:12px;}
	.content5 .area .item_area .line_box3{width:1050px;position:absolute;top:565px;left:50%;margin-left:-980px;}
	.content5 .area .item_area .item_box{width:100%;margin:50px auto;overflow:hidden; }
	.content5 .area .item_area .item_box .pic_box{width:140px;}
	.content5 .area .item_area .item_box .text_box{width:360px;}
	.content5 .area .item_area .item_box .text_box img{width:300px;}
			
}
@media screen and ( max-width:1024px ) and (min-width: 500px) {
	.content5{ width:100%;overflow:hidden;height:780px;}
	html.agent-ie .content5{ width:100%; height:780px; }
	.content5 .area{ width:550px;height:780px;}
	.content5 .area .title_box{width:410px; margin:50px auto 60px  auto; position:relative;}
	.content5 .area .title_box img{display:block;width:180px;height:236px;float:right;position:absolute;top:-51px; right:-10px;}
	.content5 .area .title_box .right_text{display:block;float:left;width:315px;margin-top:0px; margin-bottom:0px;}
	.content5 .area .title_box .right_text h1{color:#fff; }
	.content5 .area .title_box p{clear:both;color:#fff;width:250px;display:block;}
	.content5 .area .item_area{width:410px;margin:35px auto;position:absolute; top:220px; left:50%; margin-left:-220px;}
	.content5 .area .item_area .line_box3{top:455px; margin-left:-785px;}
	.content5 .area .item_area .item_box .text_box{width:275px;}

}
@media screen and (max-width: 500px){
	.content5  {padding-bottom:0px;background-color:#1e834c; height:755px; }
	html.agent-ie .content5{ width:100%; height:750px; }
	.content5 .area{display:block;width:100%;background-color:#1e834c;padding-bottom:45px;height:755px; }
	.content5 .area .title_box{width:320px; margin:30px auto 50px  auto; position:relative;overflow:hidden;}
	.content5 .area .title_box img{display:block;width:120px;height:160px;position:relative;top:0px;left:0px;}
	.content5 .area .title_box .pc_title{display:none;}
	.content5 .area .title_box .phone_title{display:block;}
	.content5 .area .title_box .right_text{display:block;width:180px;margin-top:0px; margin-bottom:30px; margin-left:20px;}
	.content5 .area .title_box .right_text h1{font-size:30px; color:#fff;letter-spacing:1px; }
	.content5 .area .title_box p{clear:none;color:#fff;width:270px; font-size:11px; line-height:150%; padding-left: 20px;}
	.content5 .area .item_area{width:310px;margin:35px auto;top:270px; left:50%; margin-left:-160px;}
	.content5 .area .item_area .line_box1{opacity:1;width:6px;height:31px;top:124px;left:53px;}
	.content5 .area .item_area .line_box1 img{width:6px;}
	.content5 .area .item_area .line_box2{opacity:1;width:6px;height:80px;top:265px;left:53px; }
	.content5 .area .item_area .line_box2 img{width:6px;}
	.content5 .area .item_area .line_box3{display:none;}
	.content5 .area .item_area .text_box p{font-size:11px; line-height:140%;}
	.content5 .area .item_area .item_box.one{margin:0px auto;}
	.content5 .area .item_area .item_box{opacity:1;width:100%;margin:30px auto;overflow:hidden;  }
	.content5 .area .item_area .item_box .pic_box{opacity:1;width:100px;float:left;margin-left:10px; margin-right:10px;margin-top:8px;}
	.content5 .area .item_area .item_box .text_box{opacity:1;float:right;width:190px;}
	.content5 .area .item_area .item_box .text_box img{width:190px; margin-bottom:0px; }
}


/*****************.content6******************************************/
.content6{ width:100%; height:1150px; background:url(../../../img/marketing/content4/bg.png) 50% 50% fixed;background-size:cover; }
html.agent-ie .content6{ width:100%; height:1150px; background:url(../../../img/marketing/content4/bg.png) 50% 50% ;background-size:cover; }
.content6 .area{width:100%;height:1200px; margin:0px auto;position:relative; }
.content6 .area img{width:100%;}
.content6 .area p{color:#595757;display:block;}
.content6 .area .text_area{opacity:0;position:absolute;width:450px;left:50%;margin-left:-430px; top:50%; margin-top:-350px;}
.content6 .area .text_area p{color:#595757;width:320px;text-align:right;float:right; margin-right:30px;}
.content6 .area .text_area h1{margin-bottom:20px; text-align:right; margin-right: 26px;}
.content6.hover .area .text_area{opacity:1;-webkit-animation:text_area 2s;animation: text_area 2s;}
.content6 .area .earth{display:none;position:absolute;width:220px;left:50%;top:50%; margin-top:-150px; margin-left:50px;}
.content6 .area .earth.hover{display:block;-webkit-animation:a201505281736 0.8s;animation:a201505281736 0.8s; }
@-webkit-keyframes a201505281736
{
	0% { opacity: 0 ;-webkit-transform:scale(0)  scaleY(0.3);-webkit-transform-origin:bottom ;}
	30%{ opacity: 0 ;-webkit-transform:scale(0) scaleY(0.3);-webkit-transform-origin:bottom ;}
	50%{ opacity: 1 ;-webkit-transform:scale(0.8) scaleY(1.2);-webkit-transform-origin:bottom ;}
	70%{ opacity: 1 ;-webkit-transform:scale(1) scaleY(0.8);-webkit-transform-origin:bottom ;}
	100% { opacity: 1;-webkit-transform:scale(1);-webkit-transform-origin:bottom ;}
}
@keyframes a201505281736
{
	0% { opacity: 0 ;transform:scale(0)  scaleY(0.3);transform-origin:bottom ;}
	30%{ opacity: 0 ;transform:scale(0) scaleY(0.3);transform-origin:bottom ;}
	50%{ opacity: 1 ;transform:scale(0.8) scaleY(1.2);transform-origin:bottom ;}
	70%{ opacity: 1 ;transform:scale(1) scaleY(0.8);transform-origin:bottom ;}
	100% { opacity: 1;transform:scale(1);transform-origin:bottom ;}
}
.content6 .area .computer{position:absolute;width:560px;left:50%;top:50%; margin-top:-380px;}
.content6.hover .area .computer{-webkit-animation:border 1.2s;animation: border 1.2s;}

.content6 .area .start{position:absolute;width:60px;left:50%;top:50%;margin-left:480px; margin-top:-470px;}
.content6 .area .bottom_line01{position:absolute;width:641px;height:0px;left:50%;top:50%;margin-left:-400px;margin-top:0px;transition:1s;-webkit-transition:1s;overflow:hidden;}
.content6 .area .bottom_line02{position:absolute;width:416px;height:0px;left:50%;top:50%;margin-left:-150px;margin-top:0px;transition:1s;-webkit-transition:1s;overflow:hidden;}
.content6 .area .bottom_line03{position:absolute;width:146px;height:0px;left:50%;top:50%;margin-left:150px;margin-top:0px;transition:1s;-webkit-transition:1s;overflow:hidden;}
.content6 .area .bottom_line04{position:absolute;width:122px;height:0px;left:50%;top:50%;margin-left:310px;margin-top:0px;transition:1s;-webkit-transition:1s;overflow:hidden;}
.content6 .area .bottom_line01.hover{height:300px;}
.content6 .area .bottom_line02.hover{height:300px;}
.content6 .area .bottom_line03.hover{height:300px;}
.content6 .area .bottom_line04.hover{height:300px;}
.content6 .area .circle_box{display:none;position:absolute;width:140px;height:140px;border-radius:300px;left:50%;top:50%;}
.content6 .area .circle_box img{display:block; margin:29px auto;width:90px; margin-bottom:50px; }
.content6 .area .circle_box .text{width:200px;}
.content6 .area .circle_box p{text-align:center; }
.content6 .area .circle_box.one{ background:#2f66aa;margin-left:-480px;margin-top:180px;}
.content6 .area .circle_box.two{background:#e9b01c;margin-left:-220px;margin-top:180px;}
.content6 .area .circle_box.three{background:#e41d25;margin-left:80px;margin-top:180px;}
.content6 .area .circle_box.four{background:#0f8041;margin-left:360px;margin-top:180px;}
.content6 .area .circle_box.one.hover{display:block;-webkit-animation:circle_box 0.5s;animation: circle_box 0.5s;}
.content6 .area .circle_box.two.hover{display:block;-webkit-animation:circle_box 0.9s;animation: circle_box 0.9s;}
.content6 .area .circle_box.three.hover{display:block;-webkit-animation:circle_box 0.7s;animation: circle_box 0.7s;}
.content6 .area .circle_box.four.hover{display:block;-webkit-animation:circle_box 1.1s;animation: circle_box 1.1s;}
@-webkit-keyframes circle_box{
	0% { opacity:0 ; -webkit-transform:scale(0);}
	25% { opacity:1 ; -webkit-transform:scale(0);}
	50% { opacity:1 ;-webkit-transform:scale(0);}
	75% { opacity:1 ;-webkit-transform:scale(0);}
	100% { opacity:1 ;-webkit-transform:scale(1);}
}
@keyframes circle_box{
	0% { opacity:0 ; transform:scale(0);}
	35% { opacity:0 ; transform:scale(0);}
	55% { opacity:0 ;transform:scale(0);}
	75% { opacity:0 ;transform:scale(0);}
	100% { opacity:1 ;transform:scale(1);}
} 
.content6 .area .phone_line{display:none;}
.content6 .area .phone_line2{display:none;}
@media screen and (min-width:1400px){
	.content6{ width:100%; height:1350px;}
	html.agent-ie .content6{width:100%; height:1350px;}
	.content6 .area{width:1270px;}
	.content6 .area .text_area{position:absolute;width:550px;margin-left:-430px;  margin-top:-350px;}
	.content6 .area .text_area p{color:#595757;width:430px;text-align:right;float:right; margin-right:50px;}
	.content6 .area .text_area h1{margin-bottom:20px;}
	.content6 .area .earth{width:400px;left:-130px; margin-top:-200px;}
	.content6 .area .computer{width:700px; margin-top:-380px; margin-left:60px;}
	.content6 .area .start{width:80px;left:50%;top:50%;margin-left:670px; margin-top:-470px;}
	.content6 .area .bottom_line01{width:741px;margin-left:-380px;margin-top:70px;}
	.content6 .area .bottom_line02{width:516px;margin-left:-120px;margin-top:70px;}
	.content6 .area .bottom_line03{width:186px;margin-left:240px;margin-top:70px;}
	.content6 .area .bottom_line04{width:152px;margin-left:440px;margin-top:70px;}
	.content6 .area .circle_box{width:180px;height:180px;border-radius:300px;}
	.content6 .area .circle_box img{margin:45px auto;width:110px; margin-bottom:70px; }
	.content6 .area .circle_box .text{width:220px;}
	.content6 .area .circle_box.one{margin-left:-480px;margin-top:300px;}
	.content6 .area .circle_box.two{margin-left:-210px;margin-top:300px;}
	.content6 .area .circle_box.three{margin-left:150px;margin-top:300px;}
	.content6 .area .circle_box.four{margin-left:510px;margin-top:300px;}	
}
@media screen and ( max-width:1366px ) and (min-width: 960px) {
	.content6 .area .earth{width:180px; margin-top:-180px; margin-left:-480px;}
	.content6 .area .computer{width:460px; margin-top:-380px; margin-left:10px;}
	.content6 .area .bottom_line01{width:641px;margin-left:-400px;margin-top:-60px;}
	.content6 .area .bottom_line02{width:416px;margin-left:-165px;margin-top:-60px;}
	.content6 .area .bottom_line03{width:146px;margin-left:115px;margin-top:-60px;}
	.content6 .area .bottom_line04{width:122px;margin-left:260px;margin-top:-60px;}
	.content6 .area .start{position:absolute;width:60px;left:50%;top:50%;margin-left:400px; margin-top:-470px;}
	.content6 .area .circle_box{position:absolute;width:130px;height:130px;border-radius:300px;left:50%;top:50%;}
	.content6 .area .circle_box img{display:block; margin:29px auto;width:80px; margin-bottom:50px; }
	.content6 .area .circle_box .text{width:150px;margin-left:-13px;}
	.content6 .area .circle_box.one{margin-left:-460px;margin-top:130px;}
	.content6 .area .circle_box.two{margin-left:-240px;margin-top:130px;}
	.content6 .area .circle_box.three{margin-left:50px;margin-top:130px;}
	.content6 .area .circle_box.four{margin-left:300px;margin-top:130px;}

}
@media screen and ( max-width:959px ) and (min-width: 500px) {
	.content6{ width:100%; height:1150px;overflow:hidden; }
	html.agent-ie .content6{width:100%; height:1150px;overflow:hidden; }
	.content6 .area{}
	.content6 .area .text_area{position:absolute;width:650px;left:50%;margin-left:-330px; top:50%; margin-top:-420px;}
	.content6 .area .text_area p{color:#595757;width:650px;text-align:center;float:none; margin-right:3px; margin: 0 auto;margin-right:30px;}
	.content6 .area .text_area h1{margin-bottom:20px;text-align:center;}
	.content6 .area .earth{width:130px; margin-top:-550px; margin-left:200px;}
	.content6 .area .computer{width:500px; margin-top:-230px; margin-left:-250px;z-index:3;}
	.content6 .area .bottom_line01{width:450px;margin-left:-250px;margin-top:105px;}
	.content6 .area .bottom_line02{width:280px;margin-left:-80px;margin-top:105px;}
	.content6 .area .bottom_line03{width:100px;margin-left:100px;margin-top:105px;}
	.content6 .area .bottom_line04{width:90px;margin-left:190px;margin-top:105px;}
	.content6 .area .start{position:absolute;width:60px;left:50%;top:50%;margin-left:230px; margin-top:-150px; z-index:9;}
	.content6 .area .circle_box{position:absolute;width:120px;height:120px;border-radius:300px;left:50%;top:50%;}
	.content6 .area .circle_box img{display:block; margin:30px auto;width:75px; margin-bottom:50px; }
	.content6 .area .circle_box .text{width:150px;margin-left:-13px;}
	.content6 .area .circle_box.one{margin-left:-330px;margin-top:250px;}
	.content6 .area .circle_box.two{margin-left:-150px;margin-top:250px;}
	.content6 .area .circle_box.three{margin-left:30px;margin-top:250px;}
	.content6 .area .circle_box.four{margin-left:210px;margin-top:250px;}
	
}	
@media screen and (max-width: 500px){
	.content6{ width:100%; height:1700px; }
	html.agent-ie .content6{width:100%; height:1700px;}
	.content6 .area{}
	.content6 .area .text_area{opacity:1;position:absolute;width:300px;left:50%;margin-left:-135px; top:50%; margin-top:-410px;}
	.content6 .area .text_area p{color:#595757;width:310px;text-align:left;float:none; margin-right:3px; margin: 0 0;}
	.content6 .area .text_area p:nth-of-type(1){width:200px;}
	.content6 .area .text_area h1{margin-bottom:15px;text-align:left; font-size:28px; letter-spacing:2px;}
	.content6 .area .earth{display:block;width:125px; margin-top:-365px; margin-left:80px;}
	.content6 .area .computer{width:350px; margin-top:-10px; margin-left:-175px;z-index:3;}
	.content6 .area .bottom_line01{display:none;}
	.content6 .area .bottom_line02{display:none;}
	.content6 .area .bottom_line03{display:none;}
	.content6 .area .bottom_line04{display:none;}
	.content6 .area .phone_line{display:block;width:280px;position:absolute;top:50%;left:50%; margin-left:-160px; margin-top:160px;}
	.content6 .area .phone_line2{display:block;width:120px;position:absolute;top:-0px;left:50%;margin-left:-100px; }
	.content6 .area .start{position:absolute;width:60px;left:50%;top:50%;margin-left:230px; margin-top:-150px; z-index:9;}
	.content6 .area .circle_box{display:block;position:absolute;width:120px;height:120px;border-radius:300px;left:50%;top:50%;}
	.content6 .area .circle_box img{display:block; margin:28px auto;width:75px; margin-bottom:0px; }
	.content6 .area .circle_box .text{position:absolute; width:150px;}
	.content6 .area .circle_box p{text-align:left; }
	.content6 .area .circle_box.one{margin-left:-130px;margin-top:290px;}
	.content6 .area .circle_box.one .text{right:-160px;top:0px;}
	.content6 .area .circle_box.two{margin-left:25px;margin-top:490px;}
	.content6 .area .circle_box.two .text{left:-155px;top:10px;}
	.content6 .area .circle_box.three{margin-left:-130px;margin-top:690px;}
	.content6 .area .circle_box.three .text{right:-163px;top:7px;}
	.content6 .area .circle_box.four{margin-left:25px;margin-top:880px;}
	.content6 .area .circle_box.four .text{left:-150px;top:0px;}
	
}


/******************.content7****************************************/

.content7{ width:100%; height:800px;background-color:#63bab8;overflow:hidden; }
.content7 .area{width:960px;height:800px;position:relative;color:#fff;margin:0px auto ;}
.content7 .area h1{text-align:center;color:#fff; margin-top:100px;}
.content7 .area p{text-align:center;}
.content7 .area .center_box{width:100%;margin:80px auto ;height:500px;}
.content7 .area .center_box .box{opacity:0;width:250px;float:left;position:relative; margin-left:105px;} 
.content7 .area .center_box .box:nth-of-type(1){margin-left:0px;}
.content7 .area .center_box .box .pic_box{width:250px;height:250px;position:relative;  }
.content7 .area .center_box .box .border{width:100%;position:absolute;top:0px; left:0px;}
.content7 .area .center_box .box .pic_hover{width:98%;position:absolute;top:3px; left:2px;opacity:0;transition:0.5s;-webkit-transition:0.5s;}
.content7 .area .center_box .box .pic{display:block;width:180px;position:absolute;top:40px; left:33px;position:relative;opacity:1;transition:0.5s;-webkit-transition:0.5s;}
.content7 .area .center_box .box .text{color:#fff; width:250px;margin-top:20px;overflow:hidden; }
.content7 .area .center_box .box .text  h2{color:#fff; margin-bottom:10px;text-align:center;letter-spacing:2px;}
.content7 .area .center_box .box .text  p{text-align:left;}
.content7 .area .center_box .box.two .line01{position:absolute;left:-105px;top:124px;width:105px;overflow:hidden;}
.content7 .area .center_box .box.two .line01 img{width:125px;}
.content7 .area .center_box .box.two .line02{position:absolute;right:-105px;top:124px;width:105px;overflow:hidden;}
.content7 .area .center_box .box.two .line02 img{width:125px;}
.content7 .area .center_box .box.two .p{color:#595757;position:absolute;}
.content7 .area .center_box .box.two .p:nth-of-type(1){left:-85px;top:144px;}
.content7 .area .center_box .box.two .p:nth-of-type(2){right:-95px;top:144px;}
.content7 .area .center_box .box:hover .pic_hover{opacity:1;}
.content7 .area .center_box .box:hover .border{-webkit-animation:rotate 100s infinite;animation: rotate 100s infinite ; transform:rotate(360deg); -webkit-transform:rotate(360deg);}
@-webkit-keyframes rotate
{
	0% { -webkit-transform:rotate(360deg);}
	50% { -webkit-transform:rotate(-360deg);}
	100% { -webkit-transform:rotate(360deg);}
}
@keyframes rotate
{
	0% { transform:rotate(360deg);}
	50% {  transform:rotate(-360deg);}
	100% { transform:rotate(360deg);}
}
.content7 .area .center_box .box:hover .pic{opacity:0;}
.content7.hover .center_box .box:nth-of-type(1){opacity:1;-webkit-animation:text_area2 1.2s;animation: text_area2 1.2s;}
@-webkit-keyframes text_area2{
	0% { opacity:0 ; -webkit-transform:translate(-50px , 0px);}
	50% { opacity:0 ;-webkit-transform:translate(-50px , 0px);}
	100% { opacity:1 ;-webkit-transform:translate(0px , 0px);}
}
@keyframes text_area2{
	0% { opacity:0 ; transform:translate(-50px , 0px);}
	50% { opacity:0 ;transform:translate(-50px , 0px);}
	100% { opacity:1 ;transform:translate(0px , 0px);}
}

.content7.hover .center_box .box:nth-of-type(2){opacity:1;-webkit-animation:text_area2 1.5s;animation: text_area2 1.5s;}
.content7.hover .center_box .box:nth-of-type(3){opacity:1;-webkit-animation:text_area2 2s;animation: text_area2 2s;}

.content7 .phone_area{display:none;}
@media screen and (min-width:1400px){
	.content7{height:950px; }
	.content7 .area{width:1200px;height:950px;}
	.content7 .area .center_box{width:100%;height:710px;overflow:hidden;}
	.content7 .area .center_box .box{width:300px;margin-left:145px;}
	.content7 .area .center_box .box .pic_box{width:300px;height:300px;}	
	.content7 .area .center_box .box:nth-of-type(1){margin-left:0px;}
	.content7 .area .center_box .box .pic{display:block;width:220px;position:relative;top:53px; left:43px;}
	.content7 .area .center_box .box .text{color:#fff; width:300px;margin-top:20px;overflow:hidden; }
	.content7 .area .center_box .box h2{font-size:26px;}
	.content7 .area .center_box .box.two .line01{position:absolute;left:-145px;top:149px;width:145px;overflow:hidden;}
	.content7 .area .center_box .box.two .line01 img{width:155px;}
	.content7 .area .center_box .box.two .line02{position:absolute;right:-145px;top:149px;width:145px;overflow:hidden;}
	.content7 .area .center_box .box.two .line02 img{width:155px;}
	.content7 .area .center_box .box.two .p:nth-of-type(1){left:-110px;top:170px;}
	.content7 .area .center_box .box.two .p:nth-of-type(2){right:-127px;top:170px;}
	
}
@media screen and ( max-width:1024px ) and (min-width: 960px) {
	
}
@media screen and ( max-width:959px ) and (min-width: 500px) {
	.content7{height:1270px; }
	.content7 .area{width:650px;height:1270px;position:relative;color:#fff;margin:0px auto ; }
	.content7 .area h1{text-align:center;color:#fff; margin-top:100px;}
	.content7 .area .center_box{width:100%;margin:80px auto 10px auto;height:auto;overflow:hidden;}
	.content7 .area .center_box .box{width:650px;height:250px;float:left;position:relative;margin-left:0px; margin-bottom:50px;} 
	.content7 .area .center_box .box:nth-of-type(1){margin-left:auto;}
	.content7 .area .center_box .box .pic_box{width:250px;height:250px;position:relative; margin-left:30px;  }
	.content7 .area .center_box .box .border{width:100%;position:absolute;top:0px; left:0px;}
	.content7 .area .center_box .box .pic{display:block;width:180px;position:absolute;}
	.content7 .area .center_box .box .text{position:absolute;display:block;width:300px;top:45px;left:320px;}
	.content7 .area .center_box .box  .text h2{text-align:left;}
	.content7 .area .center_box .box.two .line01{position:absolute;left:105px;top:-30px;width:50px;overflow:hidden;transform:rotate(90deg);-webkit-transform:rotate(90deg);}
	.content7 .area .center_box .box.two .line01 img{width:125px;}
	.content7 .area .center_box .box.two .line02{position:absolute;left:105px;top:265px;width:50px;overflow:hidden;transform:rotate(90deg);-webkit-transform:rotate(90deg);}
	.content7 .area .center_box .box.two .line02 img{width:125px;}
	.content7 .area .center_box .box.two .p{color:#595757;position:absolute;}
	.content7 .area .center_box .box.two .p:nth-of-type(1){left:170px;top:-34px;}
	.content7 .area .center_box .box.two .p:nth-of-type(2){left:-320px;top:265px;}
		
}
@media screen and (max-width: 500px){
	.content7 {height:auto; padding-bottom:30px;}
	.content7 .area{display:none;}
	.content7 .phone_area{width:100%;display:block;color:#fff;height:auto; }
	.content7 .phone_area h1{font-size:30px;text-align:center;margin-top:70px;}
	.content7 .phone_area .phone_slide_pic_box {width:100%;margin:30px auto;position:relative;}
	.content7 .phone_area .phone_slide_pic_box .slide_pic{width:100%; height:auto;position:relative;}
	.content7 .phone_area .phone_slide_pic_box .slide_pic .square{width:100%; height:auto;position:relative; }
	.content7 .phone_area .phone_slide_pic_box .slide_pic .square .slide_pic_href{width:100%; height:auto;}
	.content7 .phone_area .phone_slide_pic_box .slide_pic .square .slide_pic_href img{display:block;width:100%;}
	.content7 .phone_area .phone_slide_pic_box .slide_pic .square .slide_pic_href h2{text-align:center; margin-top:20px;letter-spacing:2px;}
	.content7 .phone_area .phone_slide_pic_box .slide_pic .square .slide_pic_href p{display:block;width:300px; margin:20px auto;}
	.content7 .cycle-pager{text-align:center;position:relative;z-index:9; margin-top:10px;}
	.content7 .cycle-pager span{padding:8px;font-size:76px;color:#91e3e1;}
	.content7 .cycle-pager span.cycle-pager-active {color:#fff;}
	
	.content7 .next{position:absolute;width:140px;height:200px;right:0px;top:50%; margin-top:-240px; z-index:9999;opacity:0; background:#000;}
	.content7 .prev{position:absolute;width:140px;height:200px;left:0px;top:50%;margin-top:-240px;z-index:9999;opacity:0; background:#000;}	
}

/******************.content9****************************************/

.content9{ width:100%; height:850px;overflow:hidden; background:url(../../../img/bg5.jpg) center center ;background-size:cover; }



@media screen and (min-width:1400px){
	.content9{ width:100%; height:890px;overflow:hidden; background:url(../../../img/bg5.jpg) center center ;background-size:cover; }

}

@media screen and (max-width: 800px){
	.content9{ width:100%;height:1050px;overflow:hidden; background:url(../../../img/bg5.jpg) center center ;background-size:cover;*/ }
	
}


