body { background: #f5f5f5; }
a { color: #027de5; }
.userBox { margin: 100px auto 50px; width: 400px; }
.userBox h2 { margin-bottom: 15px; text-align:center;font-size:30px; }
.userBox .message { font-size:12px; border-bottom: 1px solid #EEE; line-height:30px; margin-bottom:10px; padding-bottom:10px; }
.userBox .userBoxContent { padding:30px; width: 338px; color: #555; background: #fff; border-radius:5px; overflow:hidden; }
.userBox .userBoxContent .paragraph { line-height:30px; margin-bottom:10px; overflow: hidden;}
.userBox .userBoxContent .paragraph .rememberme input[type=checkbox] { margin-top: -3px; margin-right:3px; }
.userBox .userBoxContent .paragraph input[type=text],
.userBox .userBoxContent .paragraph input[type=password],
.userBox .userBoxContent .paragraph input[type=email] { padding: 5px 10px; width: 316px; height:30px; line-height:30px; font-size:20px; border: 1px solid #DDD; background:#faffbd; color:#555; font-weight:900; letter-spacing:2px; }
.userBox .userBoxContent .paragraph input::-webkit-input-placeholder { font-size:15px; font-weight:100; color:#AAA; letter-spacing: 1px; }
.userBox .userBoxContent .paragraph input:-moz-placeholder { font-size:15px; font-weight:100; color:#AAA; letter-spacing: 1px; }

.userBox .userBoxContent .paragraph_submit { line-height:30px; margin: 20px 0 10px; overflow: hidden; }
.userBox .userBoxContent .paragraph_submit input[type=submit] { float: right; padding: 5px 20px; cursor: pointer; width: 160px; height:36px; line-height:24px; font-size:12px; color:#FFF; border: none; background:#027de5; -webkit-appearance: none;}
.userBox .userBoxContent .paragraph_submit .fb_login { float: left; padding: 5px 20px; cursor: pointer; text-align: center; width: 120px; height: 26px; line-height:26px; font-size:12px; color:#FFF; background:#81cbeb; -webkit-appearance: none; }
.userBox .userBoxContent label { font-size: 12px; }
.userBox .userBoxOther { padding:30px; font-size: 14px; }
.userBox .userBoxOther p { line-height:20px; margin-bottom:5px; }

[fanswoo-message_show] { margin-top: 20px; }
/*RWD手機版自動調整.wrap大小*/
@media screen and (max-width: 450px) {

	.userBox { margin: 100px auto 50px; width: 300px; }
	.userBox .userBoxContent { padding:20px; width: 260px; background: #fff; border-radius:5px; overflow:hidden;}
	
	.userBox .userBoxContent .paragraph { line-height:30px; margin-bottom:10px; }
	.userBox .userBoxContent .paragraph .rememberme input[type=checkbox] { margin-top: -3px; margin-right:3px; }
	.userBox .userBoxContent .paragraph input[type=text],
	.userBox .userBoxContent .paragraph input[type=password],
	.userBox .userBoxContent .paragraph input[type=email] { padding: 5px 10px; width: 238px; height:25px; line-height:25px; font-size:18px; border: 1px solid #DDD; background:#faffbd; color:#555; font-weight:900; letter-spacing:2px; }
	
	.userBox .userBoxContent .paragraph_submit input[type=submit] { float: left; padding: 5px 0; cursor: pointer; width: 100%; height:36px; line-height:24px; font-size:12px; color:#FFF; border: none; background:#027de5; -webkit-appearance: none;}
	.userBox .userBoxContent .paragraph_submit .fb_login { float: left; margin-top: 10px; padding: 5px 0; cursor: pointer; text-align: center; width: 100%; height: 26px; line-height:26px; font-size:12px; color:#FFF; background:#81cbeb; -webkit-appearance: none; }
}