/*************************************************Page news***/

body { background-image:url(../../img/bg5.jpg) ; background-size:cover; }

.content1{ width:100%; height:700px; background:url(../../img/webdesign/content1_bg.jpg) 50% 50% fixed; background-size:cover;overflow:hidden;}
.content1 .area{ width:850px; height:400px; margin-left:auto; margin-right:auto;padding-top:150px;}
.content1 .area h1{display:none;width:850px; height:150px; text-align:center; font-size:65px;letter-spacing:7px;font-weight:800; margin-left:auto; margin-right:auto; line-height:70px; background-color:rgba(0,0,0,0.8);margin-top:130px; position:relative;transform:scale(0.8);-webkit-transform:scale(0.8);  }
.content1 .area h1 img{width:60px; }

.content1 .area h1 .text_1{ position:absolute;left:50%;margin-top:25px; margin-left:-410px;}
.content1 .area h1 .text_2{ position:absolute;left:50%;margin-top:25px; margin-left:-375px;}
.content1 .area h1 .text_3{ position:absolute;left:50%;margin-top:25px;margin-left:-330px;}
.content1 .area h1 .text_4{ position:absolute;left:50%;margin-top:25px; margin-left:-295px;}
.content1 .area h1 .text_5{ position:absolute;left:50%;margin-top:25px; margin-left:-250px;}
.content1 .area h1 .text_6{ position:absolute;left:50%;margin-top:25px;margin-left:-195px;}
.content1 .area h1 .text_7{ position:absolute;left:50%;margin-top:25px;margin-left:-145px;}
.content1 .area h1 .text_8{ position:absolute;left:50%;margin-top:55px;margin-left:-70px;}
.content1 .area h1 .text_8 { position:absolute;left:50%;margin-top:48px;margin-left:-71px;width:45px; }
.content1 .area h1 .text_9{ position:absolute;left:50%;margin-top:25px;margin-left:-5px;}
.content1 .area h1 .text_10{ position:absolute;left:50%;margin-top:25px;margin-left:50px;}
.content1 .area h1 .text_11{ position:absolute;left:50%;margin-top:25px;margin-left:95px;}
.content1 .area h1 .text_12{ position:absolute;left:50%;margin-top:25px;margin-left:163px;}
.content1 .area h1 .text_13{ position:absolute;left:50%;margin-top:25px;margin-left:210px;}
.content1 .area h1 .text_14{ position:absolute;left:50%;margin-top:25px;margin-left:250px;}
.content1 .area h1 .text_15{ position:absolute;left:50%;margin-top:25px;margin-left:275px;}
.content1 .area h1 .text_16{ position:absolute;left:50%;margin-top:40px;margin-left:308px;}
.content1 .area h1 .text_17{ position:absolute;left:50%;margin-top:25px;margin-left:350px;}


body  .content1 .area  h1{display:block; -webkit-animation:p201410010334 1s;animation:  p201410010334 1.5s;}
@keyframes p201410010334{
	0%{transform: translate(0, -30px) scale(0.8); opacity:0; }
	50%{transform: translate(0, -30px) scale(0.8); opacity:0; }
	100%{ transform: translate(0, 0) scale(0.8); opacity:1; }
}

@-webkit-keyframes p201410010334{
	0%{ -webkit-transform: translate(0, -30px) scale(0.8); opacity:0; }
	50%{ -webkit-transform: translate(0, -30px) scale(0.8); opacity:0; }
	100%{ -webkit-transform: translate(0, 0) scale(0.8) ; opacity:1; }
}

@keyframes p201410010334_big{
	0%{transform: translate(0, -30px) scale(1); opacity:0; }
	50%{transform: translate(0, -30px) scale(1); opacity:0; }
	100%{ transform: translate(0, 0) scale(1); opacity:1; }
}

@-webkit-keyframes p201410010334_big{
	0%{ -webkit-transform: translate(0, -30px) scale(1); opacity:0; }
	50%{ -webkit-transform: translate(0, -30px) scale(1); opacity:0; }
	100%{ -webkit-transform: translate(0, 0) scale(1) ; opacity:1; }
}

@keyframes p201410010334_small{
	0%{transform: translate(0, -30px) scale(0.6); opacity:0; }
	50%{transform: translate(0, -30px) scale(0.6); opacity:0; }
	100%{ transform: translate(0, 0) scale(0.6); opacity:1; }
}

@-webkit-keyframes p201410010334_small{
	0%{ -webkit-transform: translate(0, -30px) scale(0.6); opacity:0; }
	50%{ -webkit-transform: translate(0, -30px) scale(0.6); opacity:0; }
	100%{ -webkit-transform: translate(0, 0) scale(0.6) ; opacity:1; }
}

@media screen and (min-width:1800px){	

	.content1{ width:100%; height:1080px; }
	.content1 .area{ padding-top:270px; width:950px;}
	.content1 .area h1{display:none;width:950px; height:150px;margin-top:130px;transform:scale(1);-webkit-transform:scale(1);}
	body  .content1 .area  h1{display:block; -webkit-animation:p201410010334_big 1s;animation:  p201410010334_big 1.5s;}	
}
@media screen and (max-width:1799px) and (min-width:1600px) {
	.content1{ width:100%; height:900px; }
	.content1 .area{ padding-top:190px;}
}
@media screen and (max-width:1599px) and (min-width:1400px) {	
	.content1{ width:100%; height:900px; }
	.content1 .area{ padding-top:190px;}	
}
@media screen and ( max-width:1024px ) and (min-width: 960px) {

	.content1{ width:100%; height:770px; }
	.content1 .area{ padding-top:170px;}
}
@media screen and ( max-width:959px ) and (min-width: 701px) {	

	.content1{ width:100%; height:700px; background:url(../../img/webdesign/content1_bg.jpg) 72% 50% fixed; background-size:cover;overflow:hidden;}
	
	.content1 .area{ width:500px;position:relative;}
	.content1 .area h1{display:none;width:850px; height:150px; text-align:center; font-size:65px;letter-spacing:7px;font-weight:800; line-height:70px;margin-top:130px; position:relative;transform:scale(0.6);-webkit-transform:scale(0.6);position:absolute;left:50%;margin-left:-400px; }	
	body  .content1 .area  h1{display:block; -webkit-animation:p201410010334_small 1s;animation:  p201410010334_small 1.5s;}		
}
@media screen and (max-width: 700px){
	.content1{ width:100%; height:620px; background:url(../../img/webdesign/content1_bg.jpg) 74% 50% scroll; background-size:cover;overflow:hidden;}

	.content1 .area{ width:300px;height:700px; position:relative;}
	.content1 .area h1{display:none;width:850px; height:150px; text-align:center; font-size:65px;letter-spacing:7px;font-weight:800; line-height:70px;margin-top:100px; position:relative;transform:scale(0.35);-webkit-transform:scale(0.35);position:absolute;left:50%;margin-left:-425px; }
	body  .content1 .area  h1{display:block; -webkit-animation:none;animation:none;}

}


/****************** *content2**************************/

.content2{ width:100%; background-color:#fff; overflow:hidden; }
.content2 .area{ width:990px; height:950px; margin-left:auto; margin-right:auto; padding-top:120px; }

.content2 .area .box1 {width:400px;height:900px; margin-left:-40px; float:left;  position:relative; }

.content2 .area .box1 .contentbox1{display:block ;width:260px;height:320px; position:absolute; left:220px;z-index:2; top:50px;}
.content2 .area .box1 .contentbox1 .box{ display:block;width:260px; height:260px; background-color:rgba(0,0,0,0.1); border-radius:140px; position:relative; border:10px solid  rgba(255,255,255,0.5);}
.content2 .area .box1 .contentbox1 .box .hoverbox{width:260px; height:260px; background-color:rgba(0,0,0,0.7); border-radius:140px; position:absolute; left:px; top:px; opacity:0;-webkit-transition:opacity 1s; transition:opacity 1s;}
.content2 .area .box1 .contentbox1 .box .hoverbox h2{display:block;width:210px; margin-left:auto; margin-right:auto; text-align:center; margin-top:70px;font-size:18px;color:#fff; letter-spacing:3px; border-bottom:1px solid #fff; padding-bottom:10px;margin-bottom:20px;}
.content2 .area .box1 .contentbox1 .box .hoverbox p{ display:block; width:200px; color:#fff; font-size:12px; text-align:center; margin:0 auto; letter-spacing:3px;}
.content2 .area .box1 .contentbox1 .hoverbox:hover{opacity:1; }


.content2 .area .box1 .contentbox2{display:block;width:220px;height:320px;position:absolute; top:250px;left:-50px; z-index:2 }
.content2 .area  .box1 .contentbox2 .box{ display:block;width:200px; height:200px; background-color:rgba(0,0,0,0.1); border-radius:120px; position:relative; border:10px solid  rgba(255,255,255,0.5); }
.content2 .area .box1 .contentbox2 .box .hoverbox{width:200px; height:200px; background-color:rgba(0,0,0,0.7); border-radius:120px; position:absolute; left:px; top:px; opacity:0;-webkit-transition:opacity 1s; transition:opacity 1s;}
.content2 .area .box1 .contentbox2 .box .hoverbox h2{ display:block;width:150px; margin-left:auto; margin-right:auto;text-align:center; margin-top:40px;font-size:18px;color:#fff; letter-spacing:3px; border-bottom:1px solid #fff; padding-bottom:10px;margin-bottom:20px;}
.content2 .area .box1 .contentbox2 .box .hoverbox p{ display:block;width:150px;color:#fff;font-size:12px;text-align:center; margin:0 auto; letter-spacing:3px;}
.content2 .area .box1 .contentbox2 .hoverbox:hover{opacity:1; }


.content2 .area .box1 .contentbox3{display:block ;width:330px;height:330px;position:absolute;top:400px;left:160px; z-index:2 }
.content2 .area  .box1 .contentbox3 .box{ display:block;width:330px; height:330px; background-color:rgba(0,0,0,0.1); border-radius:175px; position:relative; border:10px solid  rgba(255,255,255,0.5); }
.content2 .area .box1 .contentbox3 .box .hoverbox{width:330px; height:330px; background-color:rgba(0,0,0,0.7); border-radius:175px; position:absolute; left:px; top:px; opacity:0;-webkit-transition:opacity 1s; transition:opacity 1s; }
.content2 .area .box1 .contentbox3 .box .hoverbox h2{ display:block;width:280px; margin-left:auto; margin-right:auto;text-align:center; margin-top:80px;font-size:18px;color:#fff; letter-spacing:3px; border-bottom:1px solid #fff; padding-bottom:10px;margin-bottom:20px;}
.content2 .area .box1 .contentbox3 .box .hoverbox p{ display:block;width:280px;color:#fff;font-size:12px;text-align:center; margin:0 auto; letter-spacing:3px;}
.content2 .area .box1 .contentbox3 .hoverbox:hover{opacity:1; }

.content2 .area  .box1  .dot3{display:;z-index:1; position:absolute; left:420px; bottom:280px; opacity:0.8;}
.content2 .area  .box1  .dot1{display:block; position:absolute; left:420px;top:150px; opacity:0.8; }
.content2 .area  .box1  .dot2{display:block;z-index:1; position:absolute; left:30px;top:510px; opacity:0.8;-webkit-transform: rotate(30deg); transform: rotate(30deg);}
.content2 .area  .box1  .dot4{display:block;z-index:1; position:absolute; left:30px;top:250px; opacity:0.8;-webkit-transform: rotate(-30deg); transform: rotate(-30deg);}


.content2.hover .area .box1 .contentbox .box{display:block; }
.content2.hover .area .box1 .contentbox1 .box{ display:block;-webkit-animation:p201410010432 1s;animation:p201410010432 1s; }
.content2.hover .area .box1 .contentbox2 .box{ display:block;-webkit-animation:p201410010433 1.3s;animation:p201410010433 1.3s;}
.content2.hover .area .box1 .contentbox3 .box{ display:block;-webkit-animation:p201410010434 1.6s;animation:p201410010434 1.6s;}
@-webkit-keyframes p201410010432{
	0%{ -webkit-transform: rotate(-20deg); opacity:1; }
	50%{ -webkit-transform: rotate(-20deg); opacity:1; }
	100%{ -webkit-transform: rotate(0deg); opacity:1; }
}
@keyframes p201410010432{
	0%{ transform: rotate(-20deg); opacity:1; }
	50%{ transform: rotate(-20deg); opacity:1; }
	100%{ transform: rotate(0deg); opacity:1; }
}
@-webkit-keyframes p201410010433{
	0%{ -webkit-transform: rotate(20deg); opacity:1; }
	50%{ -webkit-transform: rotate(20deg); opacity:1; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201410010433{
	0%{ -webkit-transform: rotate(20deg); opacity:1; }
	50%{ -webkit-transform: rotate(20deg); opacity:1; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@-webkit-keyframes p201410010434 {
	0%{ -webkit-transform: rotate(-20deg);  opacity:1; }
	50%{-webkit- transform: rotate(-20deg);  opacity:1; }
	100%{-webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201410010434 {
	0%{ transform: rotate(-20deg);  opacity:1; }
	50%{ transform: rotate(-20deg);  opacity:1; }
	100%{transform: translate(0, 0); opacity:1; }
}
.content2 .area .box2{float:left; width:470px; height:400px; background-color:rgba(0,0,0,0); margin-left:130px; margin-top:100px; padding-left:30px; }
.content2 .area .box2 h1{display:block; height:50px;color:#646464;font-size:35px;letter-spacing:7px;font-weight:800; line-height:50px; margin-bottom:40px;text-align:left; }
.content2 .area .box2 p{ display:block; letter-spacing:3px; text-align:left; line-height:22px; }
.content2 .area .box2 .webdesignTop { font-size:15px; line-height:40px; margin-bottom:100px; }
.content2 .area .box2 .webdesignNotice { font-size:12px; line-height:30px; }
.content2 .area .box2 .webdesignNotice h3 { margin-bottom:20px; }

@media screen and (min-width:1800px){	

	.content2{ width:100%;  }
	.content2 .area{ width:1300px; height:950px;padding-top:120px; }

	.content2 .area .box1 {width:460px;height:900px; margin-left:-40px; }

	.content2 .area .box1 .contentbox1{display:block ;width:290px;height:350px;  left:250px;z-index:2; top:20px;}
	.content2 .area .box1 .contentbox1 .box{ display:none;width:290px; height:290px;border-radius:240px; position:relative; }
	.content2 .area .box1 .contentbox1 .box .hoverbox{width:290px; height:290px;border-radius:240px;}
	.content2 .area .box1 .contentbox1 .box .hoverbox h2{width:230px;margin-top:70px;font-size:22px;letter-spacing:3px;}
	.content2 .area .box1 .contentbox1 .box .hoverbox p{ width:230px; font-size:17px;}

	.content2 .area .box1 .contentbox2{display:block;width:250px;height:350px;position:absolute; top:220px;left:-110px; z-index:2 }
	.content2 .area  .box1 .contentbox2 .box{ display:none;width:250px; height:250px;border-radius:220px;  }
	.content2 .area .box1 .contentbox2 .box .hoverbox{width:250px; height:250px; border-radius:220px; }
	.content2 .area .box1 .contentbox2 .box .hoverbox h2{ display:block;width:200px;margin-top:50px;font-size:22px;}
	.content2 .area .box1 .contentbox2 .box .hoverbox p{ display:block;width:170px;font-size:17px;}

	.content2 .area .box1 .contentbox3{display:block ;width:360px;height:380px;position:absolute;top:400px;left:160px; z-index:2 }
	.content2 .area  .box1 .contentbox3 .box{ display:none;width:360px; height:360px;border-radius:275px;}
	.content2 .area .box1 .contentbox3 .box .hoverbox{width:360px; height:360px;  border-radius:275px; }
	.content2 .area .box1 .contentbox3 .box .hoverbox h2{ display:block;width:310px; margin-top:80px;font-size:24px; }
	.content2 .area .box1 .contentbox3 .box .hoverbox p{ display:block;width:310px;font-size:17px;}
	.content2 .area .box1 .contentbox3 .hoverbox:hover{opacity:1; }

	.content2 .area  .box1  .dot3{display:;z-index:1; position:absolute; left:420px; bottom:280px; width:850px; height:10px;}
	.content2 .area  .box1  .dot1{left:420px;top:160px; width:700px; height:10px;width:850px; height:10px}
	.content2 .area  .box1  .dot2{left:30px;top:510px; }
	.content2 .area  .box1  .dot4{left:30px;top:250px;}

	.content2 .area .box2{float:left; width:670px; height:400px; }
	.content2 .area .box2 h1{display:block; height:50px;font-size:45px; }
	.content2 .area .box2 p{ display:block; letter-spacing:3px; font-size:18px; text-align:left;line-height:24px;letter-spacing:4px; }
	.content2 .area .box2 .webdesignTop { font-size:18px; line-height:40px; \letter-spacing:2px;}
	.content2 .area .box2 .webdesignNotice { font-size:16px; line-height:30px; }
	.content2 .area .box2 .webdesignNotice h3 { margin-bottom:20px; }	
			
		
}

@media screen and (max-width:1799px) and (min-width:1499px) {	

	.content2{ width:100%;  background-color:#fff; overflow:hidden; }
	.content2 .area{ width:1100px; height:950px; margin-left:auto; margin-right:auto; padding-top:120px; }

	.content2 .area .box1 {width:400px;height:900px; margin-left:-40px; float:left;  position:relative; }
	.content2 .area .box1 .contentbox1 .box .hoverbox h2{font-size:20px;}
	.content2 .area .box1 .contentbox1 .box .hoverbox p{font-size:14px;}
	.content2 .area .box1 .contentbox1 .hoverbox:hover{opacity:1; }

	.content2 .area .box1 .contentbox2 .box .hoverbox h2{font-size:20px;}
	.content2 .area .box1 .contentbox2 .box .hoverbox p{font-size:14px;}
	.content2 .area .box1 .contentbox2 .hoverbox:hover{opacity:1; }

	.content2 .area .box1 .contentbox3 .box .hoverbox h2{font-size:20px;}
	.content2 .area .box1 .contentbox3 .box .hoverbox p{ font-size:14px;}
	.content2 .area .box1 .contentbox3 .hoverbox:hover{opacity:1; }

	.content2 .area  .box1  .dot3{display:;z-index:1; position:absolute; left:420px; bottom:280px; width:700px; height:10px;}
	.content2 .area  .box1  .dot1{left:420px;top:160px; width:700px; height:10px;width:700px; height:10px}
	.content2 .area  .box1  .dot2{left:30px;top:510px; }
	.content2 .area  .box1  .dot4{left:30px;top:250px;}
	
	.content2 .area .box2{float:left; width:550px; height:400px; background-color:rgba(0,0,0,0); margin-left:130px; margin-top:100px; padding-left:30px; }
	.content2 .area .box2 h1{display:block; height:60px;color:#646464;font-size:40px;margin-bottom:40px;}
	.content2 .area .box2 p{ display:block; letter-spacing:3px; text-align:left; line-height:22px; }
	.content2 .area .box2 .webdesignTop { font-size:15px; line-height:40px; margin-bottom:100px; letter-spacing:2px;line-height:22px;}
	.content2 .area .box2 .webdesignNotice { font-size:14px; line-height:30px; }
	.content2 .area .box2 .webdesignNotice h3 { margin-bottom:20px; }	

	
}
@media screen and ( max-width:1024px ) and (min-width: 960px) {

	.content2 .area .box2 { width:425px; }
	.content2 .area .box2 .webdesignTop { margin-bottom:80px; }


}
@media screen and ( max-width:959px ) and (min-width: 701px) {

	.content2 .area { width:700px; }
	.content2 .area .box1 .dot1 { left:165px; }
	.content2 .area .box1 .dot2 { display:none; }
	.content2 .area .box1 .dot3 { left:165px; }
	.content2 .area .box1 .dot4 { display:none; }
	.content2 .area .box1 { width:280px; }

	.content2 .area .box1 .contentbox1 { left:90px; }
	.content2 .area .box1 .contentbox1 .box { width:180px; height:180px; }
	.content2 .area .box1 .contentbox1 .box .hoverbox { width:180px; height:180px; }
	.content2 .area .box1 .contentbox1 .box .hoverbox h2 { width:177px; margin-top:32px; }
	.content2 .area .box1 .contentbox1 .box .hoverbox p { width:162px; }

	.content2 .area .box1 .contentbox2 { left:-130px; }
	.content2 .area .box1 .contentbox2 .box { width:180px; height:180px; left:220px;z-index:2; top:50px; }
	.content2 .area .box1 .contentbox2 .box .hoverbox { width:180px; height:180px; }
	.content2 .area .box1 .contentbox2 .box .hoverbox h2 { width:177px; margin-top:32px; }
	.content2 .area .box1 .contentbox2 .box .hoverbox p { width:162px; }

	.content2 .area .box1 .contentbox3 { top:485px; left:-150px;; }
	.content2 .area .box1 .contentbox3 .box { width:220px; height:220px; left:220px;z-index:2; top:50px; }
	.content2 .area .box1 .contentbox3 .box .hoverbox { width:220px; height:220px; }
	.content2 .area .box1 .contentbox3 .box .hoverbox h2 { width:159px; margin-top:15px; margin-bottom:7px; }
	.content2 .area .box1 .contentbox3 .box .hoverbox p { width:162px; }

	.content2 .area .box2 { width:357px; height:315px; margin-left:60px; margin-top:100px; }
	.content2 .area .box2 h1 { margin-bottom: 23px; }
	.content2 .area .box2 .webdesignTop { font-size:13px; margin-bottom:25px; }
	
}
@media screen and (max-width: 700px){

	.content2 { height:800px }
	.content2 .area { width:100%; padding-top:0; }
	.content2 .area .box1 .dot1 { left:0px; top:130px; }
	.content2 .area .box1 .dot2 { display:none; }
	.content2 .area .box1 .dot3 { left:0px; bottom:190px; }
	.content2 .area .box1 .dot4 { display:none; }
	.content2 .area .box1 { width:0px; }

	.content2 .area .box1 .contentbox1 { display:none; }
	.content2 .area .box1 .contentbox2 { left:-130px; display:none; }
	.content2 .area .box1 .contentbox3 { top:485px; left:-150px; display:none; }

	.content2 .area .box2 { width:90%; height:315px; margin-left:5%; margin-top:80px; padding-left:0; }
	.content2 .area .box2 h1 { margin-bottom: 23px; text-align:center; letter-spacing:4px; }
	.content2 .area .box2 .webdesignTop { font-size:13px; margin-bottom:25px; }
		
}


/********************content3*************************/
.content3{ width:100%;  background-color:#000; overflow:hidden;background:url(../../img/webdesign/content3_bg2.jpg) fixed; background-size:containt; background-position:center; }
.content3 .area{ width:600px; height:auto; margin-left:auto; margin-right:auto; margin-left:auto;  padding:110px; background: rgba(0, 0, 0, 0.6); overflow:hidden; }
.content3 .area h1{display:block; width:600px; height:50px;color:#fff; text-align:center; font-size:35px;letter-spacing:7px;font-weight:800; margin-left:auto; margin-right:auto; line-height:50px; margin-bottom:55px;border-bottom:1px solid #fff ; padding-bottom:10px;}
.content3 .area p{ display:none; width:500px; margin:0 auto;color:#fff; line-height:30px; letter-spacing:3px; font-size:15px; margin-bottom:20px; }
.content3.hover .area p{ display:block;-webkit-animation:p201410130150 1s;animation:p201410130150 1s; }
@-webkit-keyframes p201410130150{
	0%{ -webkit-transform: translate(0, -30px); opacity:0; }
	50%{ -webkit-transform: translate(0, -30px); opacity:0; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201410130150{
	0%{ transform: translate(0, -30px); opacity:0; }
	50%{ transform: translate(0, -30px); opacity:0; }
	100%{ transform: translate(0, 0); opacity:1; }
}

@media screen and ( max-width:959px ) and (min-width: 701px) {

	.content3 .area { padding:100px 0px; }
	
}
@media screen and (max-width: 700px){

	.content3{ background:url(../../img/webdesign/content3_bg2.jpg) scroll; }
	.content3 .area { width:100%; height:auto; padding:100px 0; }
	.content3 .area h1 { width:90%; font-size:19px; letter-spacing:4px; }
	.content3 .area p { display:block; width:80%; font-size:14px; text-align:left; }
}

/****************.content5*****************************/
.content5{ width:100%;  background-color:#fff;overflow:hidden; }
.content5 .area{ width:1000px; height:750px; margin-left:auto; margin-right:auto; margin-left:auto; margin-right:auto; padding-top:110px;}
.content5 h1{display:block; width:650px; height:50px;color:#4b4b4b; border-bottom:1px solid #4b4b4b;text-align:center; font-size:35px;letter-spacing:7px;font-weight:800; margin-left:auto; margin-right:auto; line-height:50px; margin-bottom:15px; }
.content5 h2{display:block; width:550px;font-size:14px; line-height:22px;color:#4b4b4b; text-align:center; letter-spacing:5px;margin-left:auto; margin-right:auto;font-weight:800; margin-bottom:60px;}
.content5 .area .content{ width:960px;height:500px; margin:0 auto;}
.content5 .area .content .box{ display:none;width:180px;height:220px; margin-left:5px; float:left; margin-bottom:50px; position:relative;  }

.content5.hover .area .content .box:nth-of-type(1){display:block;-webkit-animation:p201410130208 1s; animation:  p201410130208 1s;}
.content5.hover .area .content .box:nth-of-type(2){display:block;-webkit-animation:p201410130208 1.3s; animation:  p201410130208 1.3s;}
.content5.hover .area .content .box:nth-of-type(3){display:block;-webkit-animation:p201410130208 1.6s; animation:  p201410130208 1.6s;}
.content5.hover .area .content .box:nth-of-type(4){display:block;-webkit-animation:p201410130208 1.9s; animation:  p201410130208 1.9s;}
.content5.hover .area .content .box:nth-of-type(5){display:block;-webkit-animation:p201410130208 2.2s; animation:  p201410130208 2.2s;}
.content5.hover .area .content .box:nth-of-type(6){display:block;-webkit-animation:p201410130208 2.5s; animation:  p201410130208 2.5s;}
.content5.hover .area .content .box:nth-of-type(7){display:block;-webkit-animation:p201410130208 2.8s; animation:  p201410130208 2.8s;}
.content5.hover .area .content .box:nth-of-type(8){display:block;-webkit-animation:p201410130208 3.1s; animation:  p201410130208 3.1s;}
.content5.hover .area .content .box:nth-of-type(9){display:block;-webkit-animation:p201410130208 3.4s; animation:  p201410130208 3.4s;}
.content5.hover .area .content .box:nth-of-type(10){display:block;-webkit-animation:p201410130208 3.7s; animation:  p201410130208 3.7s;}
@-webkit-keyframes p201410130208{
	0%{ -webkit-transform: translate(0, -20px); opacity:0; }
	50%{ -webkit-transform: translate(0, -20px); opacity:0; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201410130208{
	0%{ transform: translate(0, -20px); opacity:0; }
	50%{ transform: translate(0, -20px); opacity:0; }
	100%{ transform: translate(0, 0); opacity:1; }
}

.content5 .area .content .box .boxCircleBorder { position:absolute; width:138px;height:138px; border:1px solid #CCC; border-radius:150px; -webkit-transition: all 0.2s; transition: all 0.2s; left:0;margin-left:25px;margin-top:10px; }
.content5 .area .content .box:hover .boxCircleBorder { width: 130px; height: 130px; border: 5px solid #2f78bd; }
.content5 .area .content .box .boxCircle { position:absolute; background: #2f78bd; width:124px; height:124px; border-radius:150px; -webkit-transition: all 0.8s; transition: all 0.5s; left: 0; top: 0; margin-left:33px; margin-top:18px; -webkit-transform: scale(0); -webkit-transform-origin: 50% 50%; }
.content5 .area .content .box:hover .boxCircle { -webkit-transform: scale(1); }

.content5 .area .content .box .pic{ position:relative; width:140px; height:140px; margin-left:25px; margin-top:10px; margin-bottom:30px; -webkit-transition: background 0.8s; transition: background 0.8s; }
.content5 .area .content .box.box1 .pic{ background:url(../../img/webdesign/content5_icon1.png) no-repeat; }
.content5 .area .content .box.box1:hover  .pic{ background:url(../../img/webdesign/content5_icon1_2.png) no-repeat;}
.content5 .area .content .box.box2 .pic{ background:url(../../img/webdesign/content5_icon4.png) no-repeat; }
.content5 .area .content .box.box2:hover  .pic{ background:url(../../img/webdesign/content5_icon4_1.png) no-repeat;}
.content5 .area .content .box.box3 .pic{ background:url(../../img/webdesign/content5_icon3.png) no-repeat; }
.content5 .area .content .box.box3:hover  .pic{ background:url(../../img/webdesign/content5_icon3_1.png) no-repeat;}
.content5 .area .content .box.box4 .pic{ background:url(../../img/webdesign/content5_icon2.png) no-repeat; }
.content5 .area .content .box.box4:hover  .pic{ background:url(../../img/webdesign/content5_icon2_2.png) no-repeat;}
.content5 .area .content .box.box5 .pic{ background:url(../../img/webdesign/content5_icon6.png) no-repeat; }
.content5 .area .content .box.box5:hover  .pic{ background:url(../../img/webdesign/content5_icon6_1.png) no-repeat;}
.content5 .area .content .box.box6 .pic{ background:url(../../img/webdesign/content5_icon5.png) no-repeat; }
.content5 .area .content .box.box6:hover  .pic{ background:url(../../img/webdesign/content5_icon5_1.png) no-repeat;}
.content5 .area .content .box.box7 .pic{ background:url(../../img/webdesign/content5_icon7.png) no-repeat; }
.content5 .area .content .box.box7:hover  .pic{ background:url(../../img/webdesign/content5_icon7_1.png) no-repeat;}
.content5 .area .content .box.box8 .pic{ background:url(../../img/webdesign/content5_icon8.png) no-repeat; }
.content5 .area .content .box.box8:hover  .pic{ background:url(../../img/webdesign/content5_icon8_2.png) no-repeat;}
.content5 .area .content .box.box9 .pic{ background:url(../../img/webdesign/content5_icon10.png) no-repeat; }
.content5 .area .content .box.box9:hover  .pic{ background:url(../../img/webdesign/content5_icon10_1.png) no-repeat;}
.content5 .area .content .box.box10 .pic{ background:url(../../img/webdesign/content5_icon9.png) no-repeat; }
.content5 .area .content .box.box10:hover  .pic{ background:url(../../img/webdesign/content5_icon9_1.png) no-repeat;}

.content5 .area .content .box  .boxTitle { text-align:center;  margin-left:15px;font-size:16px; letter-spacing:5px; }
.content5 .area .content .box .hoverbox{ display:none; position:absolute; width:150px; line-height:25px; height:130px; background: url(../../img/webdesign/content5_hoverbox.png); top:0px; left:0px; margin-left:5px; padding:15px ; margin-top:-180px; color:#fff; font-size:12px; letter-spacing:2px; text-align:left; }
.content5 .area .content .box:hover  .hoverbox{display:block;-webkit-animation:p201410131022 0.5s;animation:p201410131022 0.8s;}
@-webkit-keyframes p201410131022{
	0%{ -webkit-transform: translate(0, -30px); opacity:0; }
	100%{ -webkit-transform: translate(0, 0); opacity:1; }
}
@keyframes p201410131022{
	0%{transform: translate(0, -30px); opacity:0; }
	100%{ transform: translate(0, 0); opacity:1; }
}

@media screen and ( max-width:959px ) and (min-width: 701px) {

	.content5 {  }
	.content5 .area { width:700px; }
	.content5 .area .content { width:700px; }
	.content5 .area .content .box { width:135px; }
	.content5 .area .content .box .boxCircleBorder { width:90px; height:90px; }
	.content5 .area .content .box .pic { width:90px; height:90px; background-size:100%; }
	.content5 .area .content .box .boxCircle { width:80px; height:80px; }
	.content5 .area .content .box:hover .boxCircleBorder { width: 90px; height: 90px; border: 3px solid #2f78bd; }


	.content5 .area .content .box.box1 .pic{ background-size:100%; }
	.content5 .area .content .box.box1:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box2 .pic{background-size:100%; }
	.content5 .area .content .box.box2:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box3 .pic{ background-size:100%; }
	.content5 .area .content .box.box3:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box4 .pic{ background-size:100%; }
	.content5 .area .content .box.box4:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box5 .pic{ background-size:100%; }
	.content5 .area .content .box.box5:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box6 .pic{ background-size:100%; }
	.content5 .area .content .box.box6:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box7 .pic{ background-size:100%; }
	.content5 .area .content .box.box7:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box8 .pic{ background-size:100%; }
	.content5 .area .content .box.box8:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box9 .pic{ background-size:100%; }
	.content5 .area .content .box.box9:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box10 .pic{ background-size:100%; }
	.content5 .area .content .box.box10:hover  .pic{ background-size:100%; }

	.content5 .area .content .box .boxTitle { font-size:13px; }
}
@media screen and (max-width: 700px){

	.content5 {  }
	.content5 h1 { width:100%; font-size:23px; letter-spacing:4px; }
	.content5 h2 { width:100%; font-size:13px; }

	.content5 .area { width:90%; margin:0 auto; padding:80px 0; height:1150px; }
	.content5 .area .content { width:284px; }
	.content5 .area .content .box { display:block; width: 135px; height:145px;  margin-left:7px; }
	.content5 .area .content .box .boxCircleBorder { width:120px; height:120px; margin-left:5px; }
	.content5 .area .content .box .pic { width:120px; height:120px; background-size:100%; margin-left:5px; }
	.content5 .area .content .box .boxCircle { width:111px; height:111px; margin-top:17px; margin-left:12px; }
	.content5 .area .content .box:hover .boxCircleBorder { width: 120px; height: 120px; border: 3px solid #2f78bd; margin-left:5px; }

	/*.content5 .area .content .box.box1 .boxCircleBorder { width:65px; height:65px; margin-left:0; }
	.content5 .area .content .box.box1 .boxCircleBorder { width:65px; height:65px; margin-left:0; }
	.content5 .area .content .box.box1 .pic { width:65px; height:65px; background-size:100%; margin-left:0; }
	.content5 .area .content .box.box1 .boxCircle { width:58px; height:58px; margin-left:6px; margin-top:17px; }
	.content5 .area .content .box.box1:hover .boxCircleBorder { width: 65px; height: 65px; border: 3px solid #2f78bd; margin-left:0; }
	.content5 .area .content .box.box6 .boxCircleBorder { width:65px; height:65px; margin-left:0; }
	.content5 .area .content .box.box6 .boxCircleBorder { width:65px; height:65px; margin-left:0; }
	.content5 .area .content .box.box6 .pic { width:65px; height:65px; background-size:100%; margin-left:0; }
	.content5 .area .content .box.box6 .boxCircle { width:58px; height:58px; margin-left:6px; margin-top:17px; }
	.content5 .area .content .box.box6:hover .boxCircleBorder { width: 65px; height: 65px; border: 3px solid #2f78bd; margin-left:0; }*/





	.content5 .area .content .box.box1 .pic{ background-size:100%; }
	.content5 .area .content .box.box1:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box2 .pic{background-size:100%; }
	.content5 .area .content .box.box2:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box3 .pic{ background-size:100%; }
	.content5 .area .content .box.box3:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box4 .pic{ background-size:100%; }
	.content5 .area .content .box.box4:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box5 .pic{ background-size:100%; }
	.content5 .area .content .box.box5:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box6 .pic{ background-size:100%; }
	.content5 .area .content .box.box6:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box7 .pic{ background-size:100%; }
	.content5 .area .content .box.box7:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box8 .pic{ background-size:100%; }
	.content5 .area .content .box.box8:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box9 .pic{ background-size:100%; }
	.content5 .area .content .box.box9:hover  .pic{ background-size:100%; }
	.content5 .area .content .box.box10 .pic{ background-size:100%; }
	.content5 .area .content .box.box10:hover  .pic{ background-size:100%; }

	.content5 .area .content .box .boxTitle { font-size:13px; margin-left:7px; }
	.content5 .area .content .box .hoverbox{ display:none; position:absolute; width:120px;  line-height:25px; height:170px; background: url(../../img/webdesign/content5_hoverbox.png); background-size:100% 100%; top:50px; left:-10px; margin-left:5px; padding:15px ; margin-top:-250px; color:#fff; font-size:12px; letter-spacing:2px; text-align:left; }
}

/*****************.content8****************************/

.content8{ width:100%;  background-color:;background:url(../../img/webdesign/content8_bg.jpg);}
.content8 .boxcontent{ width:960px; height:1000px; margin-left:auto;margin-left:auto; margin-right:auto; padding:110px 0;margin-right:auto; margin-left:auto; }
.content8 .boxcontent  h4{display:block; width:550px; height:50px;color:#4b4b4b; text-align:center; font-size:35px;letter-spacing:7px;font-weight:800; margin-left:auto; margin-right:auto; line-height:50px;    }
.content8 .boxcontent .dot{ margin-left:180px; margin-top:10px;}
.content8 .boxcontent .enter{ width:180px; height:40px; background-color:rgba(0,0,0,0.8); color:#f7911d; font-size:12px; text-align:center;margin-left:auto; letter-spacing:3px; margin-right:auto; margin-top:30px; line-height:40px; -webkit-transition: all 1s;transition: all 1s;border-radius:30px 30px 30px 30px;}
.content8 .boxcontent .enter:hover{ background-color:#f7911d; color:#000;}
.content8 .boxcontent  .boxarea{ width:960px;height:800px;margin-right:auto; margin-left:auto;  margin-top:50px;  }
.content8 .boxcontent  .boxarea .box{display:none;width:300px;height:280px; float:left; margin-left:10px; }
.content8 .boxcontent  .boxarea .box .picbox{width:280px;height:163px;background-color:rgba(0,0,0,0.1);box-shadow:1px 1px 1px rgba(0,0,0,0.1); margin:0 auto; position:relative;}
.content8 .boxcontent  .boxarea .box .picbox .shadow{ position:absolute;z-index:1;width:280px;height:150px;top:43px;left:0px; }
.content8 .boxcontent  .boxarea .box .picbox .border{ opacity:0;position:absolute; z-index:2; top:0px; left:0px; -webkit-transition: all 0.5s; transition: all 0.5s; }
.content8 .boxcontent  .boxarea .box:hover .border{ opacity:1; }
.content8 .boxcontent  .boxarea .box h2{ font-size:16px; font-weight:900; color:#4b4b4b; letter-spacing:3px; font-weight:500;  margin-top:20px; margin-left:20px;}
.content8 .boxcontent  .boxarea .box h3{ display:block; width:180px;font-size:14px; color:#2f78bd; letter-spacing:3px; line-height:20px;margin-left:20px;}
.content8 .boxcontent  .boxarea .box  .picbox img{ width:280px; margin-bottom:20px;}

.content8.hover  .boxcontent  .boxarea .box:nth-of-type(1){display:block;-webkit-animation:p201410010226 1.1s; animation:  p201410010226 1.1s; }
.content8.hover  .boxcontent  .boxarea .box:nth-of-type(2){display:block;-webkit-animation:p201410010226 1.3s; animation:  p201410010226 1.3s; }
.content8.hover  .boxcontent  .boxarea .box:nth-of-type(3){display:block;-webkit-animation:p201410010226 1.6s; animation:  p201410010226 1.6s; }
.content8.hover  .boxcontent  .boxarea .box:nth-of-type(4){display:block;-webkit-animation:p201410010226 1.9s; animation:  p201410010226 1.9s; }
.content8.hover  .boxcontent  .boxarea .box:nth-of-type(5){display:block;-webkit-animation:p201410010226 2.2s; animation:  p201410010226 2.2s; }
.content8.hover  .boxcontent  .boxarea .box:nth-of-type(6){display:block;-webkit-animation:p201410010226 2.5s; animation:  p201410010226 2.5s; }
.content8.hover  .boxcontent  .boxarea .box:nth-of-type(7){display:block;-webkit-animation:p201410010226 2.8s; animation:  p201410010226 2.8s; }
.content8.hover  .boxcontent  .boxarea .box:nth-of-type(8){display:block;-webkit-animation:p201410010226 3.1s; animation:  p201410010226 3.1s; }
.content8.hover  .boxcontent  .boxarea .box:nth-of-type(9){display:block;-webkit-animation:p201410010226 3.4s; animation:  p201410010226 3.4s; }


@-webkit-keyframes p201410010226 {
	0%{-webkit-transform: translate(0, 30px); opacity:0; }
	50%{-webkit-transform: translate(0, 30px);opacity:0; }
	100%{-webkit-transform: translate(0, 0);opacity:1; }
}
@keyframes p201410010226 {
	0%{transform: translate(0, 30px); opacity:0; }
	50%{transform: translate(0, 30px);opacity:0; }
	100%{transform: translate(0, 0);opacity:1; }
}

/****************************************newsOver*****/

body.newsOver .bg2 { -webkit-animation:p201309090355 1s; animation:p201309090355 1s; }
@-webkit-keyframes p201309090355 {
	0%{ -webkit-transform:translate(0,-100px); opacity:1; }
	100%{ -webkit-transform:translate(0,50%); opacity:0; }
}
@keyframes p201309090355 {
	0%{ transform:translate(0,-100px); opacity:1; }
	100%{ transform:translate(0,50%); opacity:0; }
}

@media screen and (min-width:1400px){
	.content9{ width:100%; overflow:hidden; background:url(../../img/bg5.jpg) center center ;background-size:cover; }
}
@media screen and ( max-width:959px ) and (min-width: 701px) {
	.content8 {  }
	.content8 .boxcontent { width:700px; height:890px; }
	.content8 .boxcontent .dot { margin-left:45px; margin-top:10px; } 
	.content8 .boxcontent .boxarea { width:640px; height:680px; }
	.content8 .boxcontent .boxarea .box { width:200px; height:222px; }
	.content8 .boxcontent .boxarea .box .picbox img { width:200px; }
	.content8 .boxcontent .boxarea .box .picbox { width:200px; height:116px; }
	.content8 .boxcontent .boxarea .box .picbox .shadow { width:200px; top:-4px; }
	.content8 .boxcontent .boxarea .box h2 { text-align:center; margin-left:10px; }
	.content8 .boxcontent .boxarea .box h3 { text-align:center; margin-left:10px; }
	.content9{ width:100%; height:1050px;overflow:hidden; background:url(../../img/bg5.jpg) center center ;background-size:cover; }

}
@media screen and (max-width: 700px){
	.content8 {  }
	.content8 .boxcontent { width:100%; height:890px; }
	.content8 .boxcontent h4 { width:100%; }
	.content8 .boxcontent .dot { margin-left:0px; margin-top:10px; width:100%; } 
	.content8 .boxcontent .boxarea { width:300px; height:680px; }
	.content8 .boxcontent .boxarea .box { display:block; width:100%; height:300px; margin-left:0; }
	.content8 .boxcontent .boxarea .box .picbox img { width:100%; }
	.content8 .boxcontent .boxarea .box .picbox { width:300px; height:175px; }
	.content8 .boxcontent .boxarea .box .picbox .shadow { width:100%; top:53px; }
	.content8 .boxcontent .boxarea .box h2 { text-align:center; margin-left:0px; }
	.content8 .boxcontent .boxarea .box h3 { text-align:center; margin:0px auto; }
	.content9{ width:100%;height:auto;overflow:hidden; background:url(../../img/bg5.jpg) center center ;background-size:cover; }
}